.character-subpage-abilities-list {
	display: inline-block;
	margin-right: 24px;
	width: 310px;
	vertical-align: top;
}

.character-subpage-abilities-list-item-container .btn-list-item-active {
	background: var(--characterColour);
	border-color: var(--characterColour);
	color: #fff;
}

.drag-drop-item-enable-drag-drop.character-subpage-abilities-list-item-container .btn-list-item {
	animation: wiggle-medium infinite 0.5s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).character-subpage-abilities-list-item-container .btn-list-item {
	animation-delay: 0.1s;
}

@media (max-width: 700px) {
	.character-subpage-abilities-list {
		margin-right: 0;
		width: 100%;
	}
}
