.character-container {
	position: relative;
	z-index: 2;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.character-container-hidden {
	display: none;
}

.character {
	margin: 0 auto;
	padding: 0;
	height: calc(100%);
}

.character-content-container {
	display: flex;
	height: 100%;
	overflow: visible;
	transition: transform 0.8s;
}

.character-content-container::-webkit-scrollbar {
	display: none;
}

.character-content-container-is-on-subpages {
	transform: translateX(calc(-1 * (100vw - 70px - 24px - 12px - 12px)));
}

@media (max-width: 700px) {
	.character {
		padding: 0;
		height: 100%;
	}

	.character-content-container {
		transition: transform 0.5s;
	}

	.character-content-container-is-on-subpages {
		transform: translateX(calc(-1 * (100vw - 34px)));
	}
}
