.character-container {
	position: relative;
	z-index: 2;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.character-container::before {
	position: absolute;
	z-index: -100;
	top: -24px;
	left: 0;
	display: block;
	content: "";
	width: calc(100% + (7px));
	height: calc(var(--characterPaddingTop) + 12px);
	background: linear-gradient(0deg, var(--characterColour), var(--colour-grey-one));
	opacity: 0.6;
	transition: opacity 0.2s;
}

.theme-light .character-container::before {
	top: calc(-24px + -96px);
	height: calc(var(--characterPaddingTop) + 12px + 96px);
	opacity: 1;
}

.character-container::after {
	position: absolute;
	z-index: -100;
	top: calc(var(--characterPaddingTop) - 12px);
	left: 0;
	display: block;
	content: "";
	width: calc(100% + (7px));
	height: calc(6px + 6px + 36px);
	background: linear-gradient(180deg, var(--characterColour), var(--colour-grey-one));
	opacity: 0.35;
	transition: opacity 0.2s;
}

.theme-light .character-container::after {
	opacity: 1;
}

.character-container-is-on-overview::before,
.character-container-is-on-overview::after {
	opacity: 0 !important;
}

.character {
	margin: 0 auto;
	padding: 0;
	height: calc(100%);
}

.character *::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.character *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--characterColour);
}

.character-hidden {
	display: none;
}

.character-loading-container {
	position: absolute;
	z-index: 1000;
	display: flex;
	width: calc(100%);
	height: var(--vh);
	justify-content: center;
	align-items: center;
	background: var(--colour-grey-one);
	transition: opacity 0.2s;
	transition-delay: 0.5s;
	opacity: 1;
}

.character-loading-container-hidden {
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

.character-content-container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: visible;
	transition: transform 0.6s;
}

.character-content-container::-webkit-scrollbar {
	display: none;
}

.character-content-container-is-on-subpages {
	transform: translateY(calc(-1 * 100vh));
}

.character-container-is-authorized .character-content-container-is-on-subpages {
	transform: translateY(0);
}

@media (max-width: 750px) {
	.character-container::before {
		top: -24px;
		height: calc(var(--characterPaddingTop) + 12px + 8px);
	}

	.theme-light .character-container::before {
		top: calc(-24px - 96px);
		height: calc(var(--characterPaddingTop) + 12px + 8px + 96px);
	}

	.character-container::after {
		top: calc(var(--characterPaddingTop) - 4px);
		height: calc(6px + 6px + 36px);
	}

	.character {
		padding: 0;
		height: 100%;
	}

	.character-content-container {
		flex-direction: row;
		transition: transform 0.5s;
	}

	.character-content-container-is-on-subpages {
		transform: translateX(calc(-1 * (100vw)));
	}
}
