.home-stories-container {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	width: calc(100% - 224px - 32px);
	max-height: calc(var(--vh) - (12px + 42px + 12px) - 12px - 12px);
	overflow-y: overlay;
}

.home-content-unauthorized .home-stories-container {
	padding-right: 12px;
	width: 100%;
}

.home-content-unauthorized .home-stories-following-container {
	display: none;
}

@media (max-width: 750px) {
	.home-stories-container {
		width: 100%;
		max-height: 100%;
	}
}
