.suggestions-message {
	padding: 12px 0;
	padding-right: 12px;
	padding-bottom: 6px;
	text-align: right;
	color: var(--lightgreen);
}

.suggestions-message-label {
	display: inline-block;
	font-weight: 700;
	color: var(--textColour);
}

.suggestions-message-suggestion {
	display: inline-block;
	margin-left: 5px;
}
