.user-settings {
	position: fixed;
	top: 200px;
	left: calc(50% + 76px / 2);
	transform: translateX(-50%);
	z-index: 200;
	padding: 24px 34px;
	border-radius: 4px;

	width: calc(100vw - 76px - 48px - 48px);
	max-width: 750px;

	background: var(--grey2);
}

.user-settings-background {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 199;
	display: block;
	content: "";
	width: 100vw;
	height: 100vh;
	background: #00000088;
}

.user-settings-title {
	margin: 0;
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 700;
}

.user-settings-section-container {
	margin: 12px 0;
	margin-bottom: 24px;
}

.user-settings-section-container:last-child {
	margin-bottom: 12px;
}

.user-settings-section-label {
	font-size: 16px;
	font-weight: 700;
}

.user-settings-input-container {
	margin-top: 6px;
}

.editable-container-is-editing.user-settings-input-container {
	margin-top: 4px;
}

.user-settings-input-container {
	margin-bottom: 6px;
}

.user-settings-email-message {
	margin-top: 12px;
	font-size: 15px;
	color: var(--green);
}

.user-settings-cookies-consent-input {
	padding: 0;
	padding-top: 8px;
}

.user-settings-cookies-consent-input .toggle-input-label {
	font-size: 14px;
}

.user-settings-confirm-delete {
	margin-top: 12px !important;
	justify-content: left !important;
	text-align: left !important;
}

.user-settings-confirm-delete .confirm-delete-btn {
	margin-left: 2px;
}

.user-settings-confirm-delete.confirm-delete-container-is-confirming .confirm-delete-btn {
	margin-left: 12px;
}

@media (max-width: 700px) {
	.user-settings {
		position: fixed;
		top: 64px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100vw - 48px - 48px);
	}
}
