.character-overview-description-container {
	width: 100%;
}

.character-overview-description {
	margin: 0;
	padding: 8px 12px;
	border-radius: 8px;
	width: calc(100% - 24px);
	background: var(--characterColour);
	color: #fff;
	text-align: left;
}

.character-overview-description-label {
	font-size: 13px;
	font-weight: 400;
}
