.character-subpage-physical-attribute-items-container {
	display: inline-block;
	width: calc(50% - 8px);
}

.character-subpage-physical-attribute-character-images-open .character-subpage-physical-attribute-items-container {
	width: calc(60% - 8px);
}

.character-subpage-physical-outfit-character-images-open .character-subpage-physical-attribute-items-container {
	width: calc(40% - 8px);
}

.character-subpage-physical-attribute-items-title {
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 700;
}

.character-subpage-physical-attribute-items {
	padding-right: 12px;
	width: calc(100% - 12px);
	max-height: calc(var(--vh) - var(--characterPaddingTop) - 32px - 4px - 12px - 12px - 24px - 12px);
	overflow-y: overlay;
	overflow-x: hidden;
}

.character-subpage-physical-attribute-items::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.character-subpage-physical-attribute-items::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--characterColour);
}

.character-subpage-physical-attribute-character-images-open
	.character-subpage-physical-attribute-items-container.editable-container-is-editing
	.character-subpage-physical-attribute-items {
	display: inline-block;
	width: calc(73% - 12px);
}

@media (min-width: 751px) {
	.character-subpage-physical-attribute-character-images-open .character-images-container {
		display: inline-block;
		width: calc(27% - 24px);
	}

	.character-subpage-physical-attribute-character-images-open .character-images {
		display: inline-block;
		max-height: calc(var(--vh) - var(--characterPaddingTop) - 32px - 4px - 12px - 12px - 56px);
	}
}

@media (max-width: 750px) {
	.character-subpage-physical-attribute-items-container {
		display: inline-block;
		padding-right: 0;
		width: 100%;
	}

	.character-subpage-physical-attribute-items {
		max-height: calc(var(--vh) - var(--navbarMobileHeight) - var(--characterPaddingTop) - 32px - 4px - 12px - 12px - 56px);
	}
}
