.side-bar {
	display: inline-block;
	width: 70px;
	height: 100vh;
	background: var(--grey2);
}

.side-bar-primary-button-container {
	width: 100%;
	text-align: center;
}

.side-bar-story-button-container {
	margin-top: 80px;
	width: 100%;
	text-align: center;
}

.side-bar-btn {
	position: relative;
	display: inline-block;
	margin: 16px auto;
	padding: 0;
	border: 0;
	border-radius: 100%;

	width: 46px;
	height: 46px;

	background: #00000000;
	color: var(--blue);
	font-size: 24px;
	text-align: center;
	transition: 0.2s;
	cursor: pointer;
}

.side-bar-btn:hover {
	background: var(--blue);
	color: #fff;
}

.side-bar-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.side-bar-btn-profile {
	border: 3px solid var(--grey3);
	background: var(--blue);
}

.side-bar-btn-profile:hover {
	border-width: 1px;
}
