.substory-images-container-container {
	transform: translateY(var(--vh));
	width: calc(100vw - var(--navbar-width));
}

.substory-images-container {
	display: none;
	position: relative;
	vertical-align: top;
	padding-left: 24px;
	width: calc(100% - 24px);
}

.substory-images {
	position: relative;
	display: flex;
	flex-direction: column;
	vertical-align: top;
	padding: 0;
	padding-right: 12px;
	padding-bottom: 24px;
	width: calc(100% - 12px);
	max-height: calc(100% - 24px);
	overflow-y: overlay;
	overflow-x: hidden;
}

.substory-images {
	max-height: calc(var(--popupcontent-height) - 32px - 24px);
}

.substory-images,
.substory-images .drag-drop-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.substory-images-title {
	margin-bottom: 12px;
	font-weight: 600;
}

.substory-images-add-image-input {
	display: none;
}

.substory-images-container {
	display: block;
	padding: 0;
	padding-top: 0;
	width: 100%;
}

.substory-images-container {
	width: 100% !important;
}

@media (max-width: 750px) {
	.substory-images-container-container {
		width: 100vw;
	}

	.substory-images-container-container {
		transform: translateX(100vw);
	}
	.substory-images-container-container .pop-up-content-container {
		margin-top: calc(var(--substoryPaddingTop) / 2 - var(--navbar-mobile-height) + 12px);
		max-height: calc(var(--vh) - var(--navbar-mobile-height) - var(--substoryPaddingTop) - 12px);
	}

	.substory-images-container-container .pop-up-content {
		padding: 12px 12px;
		width: calc(100% - (12px * 2));
	}

	.substory-images {
		max-height: calc(var(--vh) - var(--navbar-mobile-height) - var(--substoryPaddingTop) - 12px - 32px - 24px - 48px);
	}
}
