.substory-profile-summary-items-container {
	width: 100%;
}

.substory-profile-summary-item {
	margin-bottom: 8px;
	padding: 8px 12px;
	border-radius: 8px;
	background: var(--colour-grey-two);
	text-align: left;
	color: #fff;
}

.editable-container-is-editing .substory-profile-summary-item {
	padding: 4px 12px;
	padding-bottom: 5px;
}

.substory-profile-summary-item-placeholder {
	opacity: 0.25;
	filter: brightness(70%);
}

.editable-container-is-editing .substory-profile-summary-item {
	display: flex;
	align-items: center;
}

.substory-profile-summary-item-content {
	margin-right: 8px;
	width: calc(100% - 24px - 8px);
}

.substory-profile-summary-item-label {
	margin-bottom: 2px;
}

.substory-profile-summary-item-label,
.substory-profile-summary-item-label input {
	font-size: var(--font-size-p-m);
	min-height: var(--font-size-p-m-height);
	font-weight: 600;
}

.substory-profile-summary-item-text,
.substory-profile-summary-item-text input {
	font-size: var(--font-size-p-m);
	min-height: var(--font-size-p-m-height);
}

.substory-profile-summary-item-text.text-input-container {
	margin-top: -4px;
}

.substory-profile-summary-item-label.text-input-container {
	margin-top: 1px;
}

.substory-profile-summary-item-value.text-input-container {
	margin-top: -1px;
	margin-bottom: 3px;
}

.substory-profile-summary-item-label .text-input-label {
	margin-top: -4px;
	font-size: var(--font-size-p-s);
	font-weight: 400;
}

.substory-profile-summary-item-text.text-input-container-empty .text-input {
	height: 17px;
}

.substory-profile-summary-item-text .text-input-label {
	margin-top: -4px;
	font-size: var(--font-size-p-m);
	font-weight: 600;
}

.drag-drop-item-enable-drag-drop.substory-profile-summary-item {
	animation: wiggle-small infinite 0.5s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).substory-profile-summary-item {
	animation-delay: 0.1s;
}
