.characters-create-character-type-form {
	position: fixed;
	top: 200px;
	left: calc(50% + 76px / 2);
	transform: translateX(-50%);
	z-index: 200;

	padding: 24px;

	width: calc(100vw - 76px - 48px - 48px);
	max-width: 750px;

	background: var(--grey2);
}

.characters-create-character-type-background {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 199;
	display: block;
	content: "";
	width: 100vw;
	height: 100vh;
	background: #00000088;
}

.characters-create-character-type-form-title {
	margin: 20px 10px;
	margin-top: 0;
	font-size: 28px;
	font-weight: 700;
}

.characters-create-character-type-form-input-container {
	margin: 12px 0;
}

.characters-create-character-type-form-submit-container {
	margin-top: 20px;
	text-align: right;
}

.characters-create-character-type-form-submit-btn-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.characters-create-character-type-form-submit-btn-icon {
	display: inline-block;
	margin-top: 1px;
	margin-left: 8px;
	vertical-align: middle;
	font-size: 15px;
}

@media (max-width: 700px) {
	.characters-create-character-type-form {
		position: fixed;
		top: 64px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100vw - 48px - 48px);
	}
}
