.unit-page-subpage-plot-items-container {
	display: inline-block;
	padding-right: 12px;

	width: calc(100% - 260px - 24px - 356px - 12px - 12px);
	max-height: calc(var(--vh) - var(--unitPagePaddingTop) - 32px);
	overflow-y: overlay;
	overflow-x: hidden;

	vertical-align: top;
}

.unit-page-subpage-plot-items-container-all {
	width: calc(100% - 260px - 24px - 12px - 12px);
}

.unit-page-subpage-plot-items-name {
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 600;
}

.unit-page-subpage-plot-items-list {
	padding-right: 12px;
	width: calc(100% - 12px);
	max-height: calc(var(--vh) - var(--unitPagePaddingTop) - 36px - 24px - 6px);
	overflow-y: overlay;
	overflow-x: hidden;
}

@media (max-width: 1200px) {
	.unit-page-subpage-plot-items-container {
		padding-right: 0;
		width: 100%;
		max-height: 100%;
	}

	.unit-page-subpage-plot-items-list {
		max-height: calc(var(--vh) - var(--unitPagePaddingTop) - 116px);
	}
}
