.character-subpage-psychology-item-container .content-item {
	margin-left: 0;
	margin-right: 0;
}

.character-subpage-psychology-item-container:last-child {
	padding-bottom: 8px;
}

.drag-drop-item-enable-drag-drop.character-subpage-psychology-item-container {
	animation: wiggle-very-small infinite 0.7s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).character-subpage-psychology-item-container {
	animation-delay: 0.1s;
}

.character-subpage-psychology-item-content {
	display: inline-block;
	width: calc(100% - 32px);
	vertical-align: top;
}

.character-subpage-psychology-item .multi-line-text-input {
	margin-bottom: -4px;
}

.character-subpage-psychology-item-title {
	margin-bottom: 3px;
}

.character-subpage-psychology-item-title .text-input {
	margin-top: 2px;
}

.character-subpage-psychology-item-title .text-input-label ~ input {
	margin-top: 2px;
	height: 17px;
}

.character-subpage-psychology-item-title .text-input-label {
	margin-top: -5px;
	font-size: calc(15px * var(--fontSizeMultiplier));
}

.character-subpage-psychology-item-title,
.character-subpage-psychology-item-title input {
	font-size: calc(14px * var(--fontSizeMultiplier));
	font-weight: 700;
}

.character-subpage-psychology-item .text-input-container-empty {
	margin-top: 3px;
	margin-bottom: 4px;
	height: 17px;
}

.character-subpage-psychology-item-text {
	min-height: 23px;
}

.character-subpage-psychology-item-text .multi-line-text-input-label {
	font-size: calc(15px * var(--fontSizeMultiplier));
}
