.character-subpage-psychology-items {
	padding-right: 12px;
	width: calc(100% - 12px);
	max-height: calc(var(--vh) - var(--characterPaddingTop) - 32px - 4px - 12px - 12px);
	overflow-y: overlay;
	overflow-x: hidden;
}

@media (max-width: 750px) {
	.character-subpage-psychology-items {
		max-height: calc(var(--vh) - var(--navbarMobileHeight) - var(--characterPaddingTop) - 32px - 4px - 12px - 12px - 48px);
	}
}
