.story-primary-character-card {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 4px;
	margin-left: -120px;
	border: 6px solid var(--blue);
	border-radius: 16px;

	width: 305px;
	height: 420px;

	background: var(--grey1);
	transition: 0.2s;
	cursor: pointer;
}

.story-primary-character-card:first-child {
	margin-left: 0;
}

.story-primary-character-card:last-child {
	margin-right: 0;
}

.story-primary-character-card:hover + .story-primary-character-card {
	margin-left: 4px;
}

.story-primary-character-card-content {
	position: relative;
	z-index: 1;
}

.story-primary-character-card-top-container {
	display: flex;
	justify-items: center;
	padding: 12px 20px;
}

.story-primary-character-card-top-name {
	font-size: 24px;
	font-weight: 700;
	color: var(--blue);
}

.story-primary-character-card-info-container {
	position: absolute;
	top: calc(270px - 8px);
	top: calc(203px - 8px);
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 16px);
}

.story-primary-character-card-info-item {
	margin-bottom: 6px;
	padding: 8px 12px;
	border-radius: 8px;
	background: var(--blue);
	text-align: left;
}

.story-primary-character-card-info-item-label {
	font-size: 12px;
	font-weight: 400;
}

.story-primary-character-card-info-item-value {
	font-size: 13px;
	font-weight: 700;
}

.story-primary-character-card-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: inherit;
	width: 100%;
	height: 100%;
}

.story-primary-character-card-background img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 700px) {
	.story-primary-character-card {
		border-width: 4px;
		width: 260px;
		height: 358px;
	}

	.story-primary-character-card-info-container {
		top: calc(200px - 12px);
	}

	.story-primary-character-card-info-item {
		display: none;
	}

	.story-primary-character-card-info-item:nth-child(1),
	.story-primary-character-card-info-item:nth-child(2) {
		display: block;
	}

	.story-primary-character-card-info-item-label {
		font-size: 12px;
	}

	.story-primary-character-card-info-item-value {
		font-size: 12px;
	}
}
