.story-primary-characters {
	margin: 12px 0;
	padding: 12px;
	border-radius: 4px;
}

.story-primary-characters-title {
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 700;
}

.story-primary-character-cards-container {
	display: flex;
	padding-bottom: 8px;
	overflow-x: overlay;
}

.story-primary-character-cards-container::-webkit-scrollbar {
	border-radius: 4px;
	height: 6px;
	background: transparent;
	background: var(--grey1);
}

.story-primary-character-cards-container::-webkit-scrollbar-thumb:horizontal {
	border-radius: 4px;
	background: var(--blue);
}

@media (max-width: 1050px) {
	.story-primary-characters {
		margin-top: 0;
		padding: 12px 6px;
	}
}
