.story-primary {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	padding-bottom: calc(14px + 2px);
	border-radius: 4px;
	background: var(--grey1);
}

.story-primary::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: "";
	border-radius: 4px;
	width: 100%;
	height: 2px;
	background: var(--grey3);
}

.story-primary-mobile {
	display: none;
}

.story-primary-break {
	flex-basis: 100%;
	height: 0;
}

.story-primary-title-members-follow-container {
	display: flex;
	align-items: center;
	margin-left: 12px;
	width: calc(100% - 12px - 164px - 28px - 27px - 31px);
	min-height: 73px;
	vertical-align: top;
}

.story-primary-title-members-follow-container-is-member {
	width: calc(100% - 12px - 164px - 28px - 27px - 32px - 16px - 32px - 16px + 12px);
}

@media (max-width: 750px) {
	.story-primary {
		display: none;
	}

	.story-primary-mobile {
		display: flex;
		flex-direction: column;
		padding: 0;
		padding-bottom: 12px;
	}

	.story-primary-icon-follow-buttons-container {
		display: flex;
		align-items: center;
		margin-top: -30px;
		z-index: 1;
	}

	.story-primary-title-members-container {
		margin: 0 12px;
		margin-top: 8px;
		width: calc(100% - 24px);
		min-height: 49px;
	}
}
