.story-primary {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	padding-bottom: calc(14px + 2px);
	border-radius: 4px;
	background: var(--grey1);
}

.story-primary::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: "";
	border-radius: 4px;
	width: 100%;
	height: 2px;
	background: var(--grey3);
}

.story-primary-break {
	flex-basis: 100%;
	height: 0;
}

.story-primary-main-info {
	display: inline-block;
	margin-left: 12px;
	width: calc(100% - 12px - 164px - 28px - 27px - 31px);
	min-height: 73px;
	vertical-align: top;
}

.story-primary-main-info-is-authorized {
	width: calc(100% - 12px - 164px - 28px - 27px - 32px - 16px - 32px - 16px + 8px - 1px);
}

.story-primary-buttons-container {
	display: inline-block;
	margin-left: auto;
	margin-right: 8px;
	vertical-align: middle;
}

.story-primary-auth-btn {
	margin: 8px;
}

@media (max-width: 700px) {
	.story-primary {
		padding: 0;
		padding-bottom: 12px;
	}

	.story-primary-main-info {
		width: calc(100% - 6px - 75px - 24px - 27px - 32px);
		min-height: 50px;
	}

	.story-primary-main-info-is-authorized {
		width: calc(100% - 6px - 75px - 24px - 27px - 32px);
	}

	.story-primary-buttons-container {
		display: flex;
		flex-direction: column;
		margin-right: 4px;
		vertical-align: top;
	}
}
