.story-primary {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 24px 0;
	padding-top: 0;
	border-radius: 4px;
	background: var(--grey1);
}

.story-primary::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: "";
	border-radius: 4px;
	width: 100%;
	height: 3px;
	background: var(--grey2);
}

.story-primary-break {
	flex-basis: 100%;
	height: 0;
}

.story-primary-icon {
	display: inline-block;
	margin: 5px 24px;
	margin-left: 12px;
	border-radius: 100%;
	width: 75px;
	height: 75px;
	vertical-align: middle;
	background: var(--grey2);
}

.story-primary-icon img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.story-primary-main-info {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 5px - 75px - 24px - 24px - 8px - 24px - 7px - 24px);
	min-height: 84px;
}

.story-primary-main-info-title-container {
	margin-top: -3px;
	margin-bottom: 3px;
	width: fit-content;
	font-size: 48px;
	font-weight: 700;
}

.story-primary-main-info-title {
	width: 100%;
}

.story-primary-main-info-title-container input {
	font-weight: 700;
	font-size: 48px;
}

.story-primary-main-info-creators {
	margin-top: -3px;
	margin-bottom: 3px;
	font-weight: 400;
	font-size: 18px;
}

.story-primary-main-info-creator {
	display: inline-block;
	margin: 2px;
	margin-left: 0;
}

.story-primary-auth-buttons-container {
	display: inline-block;
	margin-left: auto;
	margin-right: 8px;
	vertical-align: middle;
}

@media (max-width: 700px) {
	.story-primary {
		padding: 0;
		padding-bottom: 12px;
	}

	.story-primary-icon {
		width: 60px;
		height: 60px;
	}

	.story-primary-main-info {
		width: calc(100% - 5px - 60px - 24px - 24px - 8px - 12px - 7px);
		min-height: 50px;
	}

	.story-primary-main-info-title {
		margin: 0;
		font-size: 24px;
		width: 100%;
	}

	.story-primary-main-info-title-container input {
		font-size: 24px;
	}

	.story-primary-main-info-creators {
		font-size: 14px;
	}

	.story-primary-auth-buttons-container {
		margin-right: 12px;
	}
}
