.story-primary-icon {
	display: inline-block;
	margin: 0 12px;
	margin-top: -98px;
	margin-right: 18px;
	border-radius: 100%;
	width: 164px;
	height: 164px;
	vertical-align: middle;
}

.story-primary-icon-placeholder {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	background: var(--grey2);
}

.editable-container-is-authorized .story-primary-icon {
	margin-right: 28px;
}

.story-primary-icon img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 700px) {
	.story-primary-icon-container {
		margin-top: -38px;
	}

	.story-primary-icon {
		margin-top: -44px;
		margin-left: 6px;
		width: 60px;
		height: 60px;
	}
}
