.ai-tools {
	position: absolute;
	z-index: 1000;
	width: 100%;
	color: var(--text-colour-primary);
}

.ai-tools-buttons {
	display: none;
	position: relative;
	border-radius: 4px;
	border: 1px solid var(--colour-grey-three);
	padding: 2px 4px;
	background: var(--colour-grey-one);
	width: fit-content;
}

.ai-tools-buttons-is-displaying {
	display: flex;
	justify-content: right;
	text-align: right;
}

.ai-tools-responses-gpt-messages-container {
	position: relative;
	margin-top: 4px;
	padding: 2px 10px;
	border: 1px solid var(--colour-grey-three);
	border-radius: 4px;
	background: var(--colour-grey-one);
	width: calc(100% - (2 * 10px) - (2 * 1px));
}

.ai-tools-responses-gpt-messages-close-btn-container {
	position: absolute;
	top: 6px;
	left: 6px;
}

.ai-tools-responses-gpt-message {
	margin: 6px 0;
	width: calc(100% - 12%);
}

.ai-tools-responses-gpt-message-function {
	margin-left: auto;
}

.ai-tools-responses-gpt-message-user {
	margin-left: auto;
}

.ai-tools-responses-gpt-message-user .ai-tools-responses-gpt-message-role {
	text-align: right;
}

.ai-tools-responses-gpt-message-content-container {
	display: flex;
}

.ai-tools-responses-gpt-message-function .ai-tools-responses-gpt-message-content-container {
	justify-content: right;
	align-items: center;
	gap: 4px;
}

.ai-tools-responses-gpt-message-error .ai-tools-responses-gpt-message-content-container {
	align-items: center;
	gap: 7px;
}

.ai-tools-responses-gpt-message-content {
	margin: 6px 0;
	padding: 4px;
	border: 1px solid var(--colour-grey-three);
	border-radius: 4px;
	background: var(--colour-grey-one);
	width: calc(100% - (2 * 4px) - (2 * 1px));
	white-space: pre-line;
	font-size: var(--font-size-p-m);
}

.ai-tools-responses-gpt-message-function .ai-tools-responses-gpt-message-content,
.ai-tools-responses-gpt-message-error .ai-tools-responses-gpt-message-content {
	padding: 0;
}

.ai-tools-responses-gpt-message-function .ai-tools-responses-gpt-message-content-container svg,
.ai-tools-responses-gpt-message-error .ai-tools-responses-gpt-message-content-container svg {
	font-size: var(--font-size-p-l);
}

.ai-tools-responses-gpt-message-function-running .ai-tools-responses-gpt-message-content-container svg {
	animation: ai-tools-responses-gpt-message-function-running-cog-animation 3.5s infinite linear;
}

@keyframes ai-tools-responses-gpt-message-function-running-cog-animation {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.ai-tools-responses-gpt-message-function .ai-tools-responses-gpt-message-content,
.ai-tools-responses-gpt-message-error .ai-tools-responses-gpt-message-content {
	width: fit-content;
	border: 0;
	background: transparent;
	font-size: var(--font-size-p-m);
}

.ai-tools-responses-gpt-message-buttons {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	margin: 6px 0;
	margin-left: 4px;
}

.ai-tools-responses-gpt-message-user .ai-tools-responses-gpt-message-buttons {
	display: none;
}
