.home-feed-container {
	position: absolute;
	--homeFeedTop: calc(12px + 42px + 12px);
	top: var(--homeFeedTop);
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 8px);
	text-align: center;
}

.home-feed-loading-container {
	position: absolute;
	top: 24px;
	left: 50%;
	transform: translateX(-50%);
}

.home-feed-items-container {
	padding: 0 12px;
	box-sizing: border-box;
	max-height: calc(var(--vh) - var(--homeFeedTop) - 12px);
	overflow-y: overlay;
}

@media (max-width: 750px) {
	.home-feed-container {
		--homeFeedTop: calc(6px + 50px + 12px);
		top: var(--homeFeedTop);
		width: calc(100% - 12px);
	}

	.home-feed-items-container {
		padding: 0;
		max-height: calc(var(--vh) - var(--navbarMobileHeight) - var(--homeFeedTop) - 8px);
		overflow-y: overlay;
	}
}
