.story-genres-container .label-label {
	margin-bottom: 6px;
}

.story-genres-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -3px;
	width: calc(100% + 6px);
}

.editable-container-is-editing .story-genres-list {
	margin-left: -4px;
	width: calc(100% + 8px);
}

.story-genres-item-placeholder {
	display: flex;
	align-items: center;
	margin: 3px;
	padding: 5px 10px;
	border-radius: 18px;

	width: 70px;
	min-height: 15px;

	background: linear-gradient(90deg, var(--grey3), var(--grey5), var(--grey3));
	background-size: 400%;
	animation: story-genres-item-placeholder 5s infinite linear;
	transition: background 0.1s;
	opacity: 0.4;
}

@keyframes story-genres-item-placeholder {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}

.story-genres-item {
	display: flex;
	align-items: center;
	margin: 3px;
	padding: 5px 10px;
	border-radius: 18px;

	background: var(--grey4);
	transition: background 0.1s;
}

.editable-container-is-editing .story-genres-item {
	margin: 4px;
	padding: 4px 10px;
	padding-right: 4px;
	min-width: min(calc(115px), calc(50% - 6px - 10px - 4px));
}

.drag-drop-item-enable-drag-drop.story-genres-item {
	user-select: none;
	animation: wiggle-large infinite 0.7s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).story-genres-item {
	animation-delay: 0.2s;
}

.editable-container-is-editing .story-genres-item:hover {
	background: var(--grey5);
}

.story-genres-item-active {
	background: var(--storyColour);
	color: #fff;
}

.editable-container-is-editing .story-genres-item-active:hover {
	background: var(--storyHoverColour);
}

.story-genres-item-title {
	font-size: 14px;
	line-height: 15px;
	text-align: left;
}

.story-genres-item-info {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 1px;
}

.story-genres-item-stat {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.story-genres-item-stat:last-child {
	margin-right: 0;
}

.story-genres-item-stat svg {
	font-size: 13px;
}

.story-genres-item-stat-value {
	margin-left: 2px;
	font-size: 12px;
	font-weight: 700;
}

.story-genres-item-remove-btn-container,
.story-genres-item-add-btn-container {
	margin-left: auto;
	padding-left: 4px;
}

.story-genres-item-remove-btn-container .icon-btn svg {
	fill: #fff;
}

.story-genres-search-container {
	margin-top: calc(4px + 8px);
}

.story-genres-new-genre-container {
	display: flex;
	align-items: center;
}

.story-genres-new-genre-container .icon-btn {
	margin-left: 8px;
}
