.routes {
	width: 100%;
	height: 100%;
}

.content-container {
	display: inline-block;
	width: calc(100vw - var(--navbarWidth));
	height: 100%;
	vertical-align: top;
	overflow-y: overlay;
	overflow-x: hidden;
}

.content-container::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.content-container::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--blue);
}

.content-container-unauthorized {
	display: block;
	width: 100vw;
	height: calc(100% - 68px);
}

@media (max-width: 750px) {
	.routes {
		display: flex;
		flex-direction: column;
	}

	.content-container {
		width: 100vw;
		height: calc(100% - var(--navbarMobileHeight));
	}
}
