.routes {
	height: 100%;
}

.content-container {
	display: inline-block;
	width: calc(100vw - 76px);
	height: 100%;
	vertical-align: top;
	overflow-y: overlay;
}

.content-container::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.content-container::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--blue);
}

.content-container-unauthorized {
	display: block;
	width: 100vw;
	height: calc(100% - 50px);
}

@media (max-width: 700px) {
	.routes {
		display: flex;
		flex-direction: column;
	}

	.content-container {
		width: 100vw;
		height: calc(100% - 70px);
	}

	.content-container-unauthorized {
		display: block;
		width: 100vw;
		height: calc(100% - 50px);
	}
}
