.substory-subpage-plot-item {
	position: relative;
	margin: 0;
}

.substory-subpage-plot-item .content-item {
	margin-left: 0;
	margin-right: 0;
}

.drag-drop-item-enable-drag-drop.substory-subpage-plot-item-container {
	animation: wiggle-very-small infinite 0.7s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).substory-subpage-plot-item-container {
	animation-delay: 0.1s;
}

.substory-subpage-plot-item-container:last-child .substory-subpage-plot-item {
	min-height: 150px;
}

.substory-subpage-plot-item-content {
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
	width: calc(100% - 22px - 8px - 12px);
}

.substory-subpage-plot-item-btns-container {
	display: inline-block;
	vertical-align: top;
	width: calc(22px + 8px);
}

.substory-subpage-plot-item-label {
	margin-bottom: 3px;
}

.substory-subpage-plot-item-label,
.substory-subpage-plot-item-label .text-input-label,
.substory-subpage-plot-item-label input {
	font-size: var(--font-size-h2);
	font-weight: 600;
}

.substory-subpage-plot-item-label.text-input-container-empty {
	margin-top: -1px;
	margin-bottom: 4px;
}
