.substory-subpage-soundtrack-playlist-selector-container.pop-up-container {
	transform: translate(calc(-50% + ((100vw - 74px - 24px - 12px - 12px))), -50%);
}

.substory-content-container-is-on-overview .substory-subpage-soundtrack-playlist-selector-container {
	display: none;
}

.substory-subpage-soundtrack-playlist-selector-subtitle {
	margin: 0;
	font-size: 14px;
}

.substory-subpage-soundtrack-playlist-selector-loading-circle-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 24px;
}

.substory-subpage-soundtrack-playlist-selector-playlist-items {
	margin-top: 12px;
	margin-left: -16px;
	padding-right: 12px;
	width: calc(100% + 16px);
	max-height: calc(min(600px, calc(var(--vh) - 48px)) - 24px - 24px - 24px - 12px);
	overflow-y: overlay;
}

@media (max-width: 750px) {
	.substory-subpage-soundtrack-playlist-selector-container.pop-up-container {
		top: var(--substoryPrimaryPaddingTop);
		transform: translate(calc(-50% + 100vw - 24px - 4px - 6px), 0%);
		max-height: calc(var(--vh) - var(--navbarMobileHeight) - var(--substoryPrimaryPaddingTop) - 12px);
	}

	.substory-subpage-soundtrack-playlist-selector-container.pop-up-container .pop-up-content-container {
		max-height: 100%;
	}
}
