.character-primary-type-container {
	margin-top: 12px;
	margin-bottom: -12px;
	margin-left: 48px;
	width: fit-content;
}

.character-primary-type {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	padding: 6px 12px;
	border-radius: 32px;
	height: fit-content;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

.character-primary-type-dropdown .dropdown-value-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	padding: 6px 12px;
	border-radius: 32px;
	height: fit-content;
	font-size: 15px;
	font-weight: 700;
}

@media (max-width: 750px) {
	.character-primary-type-container {
		position: absolute;
		bottom: -26px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		width: fit-content;
		transition: opacity 0.2s;
	}

	.character-container-is-on-subpages .character-primary-type-container {
		opacity: 0;
		pointer-events: none;
	}

	.character-primary-type,
	.character-primary-type-dropdown .dropdown-value-container {
		padding: 5px 10px;
		font-size: 13px;
	}
}
