.confirm-delete-container {
	display: flex;
	justify-content: right;
	align-items: center;
	margin-top: 48px;
	text-align: right;
}

.confirm-delete-label {
	margin-right: 12px;
	font-size: 15px;
}

.confirm-delete-container-seamless .confirm-delete-btn {
	margin: 4px 8px;
	transition: color 0.2s;
}

.confirm-delete-container-seamless .confirm-delete-btn:last-child {
	margin-right: 0;
}

.confirm-delete-btn-delete:hover {
	color: var(--red);
}
