.locations-map-location-name-container {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
}

.locations-map-location-name {
	font-size: 16px;
	font-weight: 600;
	color: #aaa;
	user-select: none;
}
