.unit-page-subpage-physical-attribute-items {
	margin-bottom: 64px;
	padding-right: 12px;
	width: calc(100% - 12px);
	/* max-height: calc(var(--unitPageSubpageMaxHeight) - 24px - 8px); */
	overflow-y: overlay;
	overflow-x: hidden;
}

@media (max-width: 750px) {
	.unit-page-subpage-physical-attribute-items-container {
		display: inline-block;
		padding-right: 0;
		width: 100%;
	}

	.unit-page-subpage-physical-attribute-items {
		max-height: none;
	}
}
