.character-subpage-psychology-items {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding-right: 12px;
	width: calc(100% - 12px);
	overflow-y: overlay;
	overflow-x: hidden;
}

.character-subpage-psychology-big-five-visible .character-subpage-psychology-items {
	max-height: calc(var(--characterSubpageMaxHeight));
}

@media (max-width: 750px) {
	.character-subpage-psychology-items {
		max-height: unset;
	}
}
