.character-subpage-psychology-items {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	padding-right: 12px;
	width: calc(100% - 12px);
	/* max-height: var(--characterSubpageMaxHeight); */
	overflow-y: overlay;
	overflow-x: hidden;
}

@media (max-width: 750px) {
	.character-subpage-psychology-items {
		max-height: none;
	}
}
