.search-results-list-item {
	display: flex;
	align-items: center;
	content: "";
	margin: 6px 0;
	padding: 0 12px;
	border: 2px solid var(--grey4);
	border-radius: 20px;
	outline: 0;
	width: 100%;
	height: 80px;
	background: var(--grey1point5);
	transition: 0.2s;
	cursor: pointer;
	user-select: none;
	color: #fff;
}

.search-results-list-item:first-child {
	margin-top: 0;
}

.search-results-list-item:hover,
.search-results-list-item:focus {
	outline: 0;
	border: 2px solid var(--blue);
	background: var(--grey2);
}

.search-results-list-item:hover,
.search-results-list-item:focus {
	background: var(--grey2point5);
	border-color: var(--grey5);
}

.search-results-list-item-active {
	background: var(--grey3);
	border-color: var(--white);
}

.search-results-list-item-active:hover,
.search-results-list-item-active:focus {
	background: var(--grey2point5);
	border-color: var(--white);
}

.search-results-list-item-icon {
	display: block;
	content: "";
	border-radius: 100%;
	min-width: 56px;
	width: 56px;
	min-height: 56px;
	height: 56px;
	background: var(--grey3);
	transition: 0.2s;
}

.search-results-list-item-icon img {
	border-radius: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search-results-list-item:hover .search-results-list-item-icon {
	background: var(--grey4);
}

.search-results-list-item-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 18px;
	text-align: left;
}

.search-results-list-item-nickname,
.search-results-list-item-title {
	font-size: 16px;
	font-weight: 700;
}

.search-results-list-item-username,
.search-results-list-item-owner {
	font-size: 14px;
}
