.substory-subpage-plot-navigation-bar {
	display: none;
	margin-bottom: 8px;
	margin-left: -4px;
	width: calc(100% + 8px);
}

.substory-subpage-plot-navigation-bar-btn {
	display: inline-block;
	margin: 6px 4px;
	padding: 10px 16px;
	border: 0;
	border-radius: 22px;

	min-height: 19px;

	background: var(--grey2);
	color: var(--textColour);
	font-size: 15px;
	text-align: left;
	transition: 0.2s;
	cursor: pointer;
}

.substory-subpage-plot-navigation-bar-btn:hover {
	background: var(--grey3);
}

.substory-subpage-plot-navigation-bar-btn-active,
.substory-subpage-plot-navigation-bar-btn-active:hover {
	background: var(--substoryColour);
	color: #fff;
}

@media (max-width: 1200px) {
	.substory-subpage-plot-navigation-bar {
		display: block;
	}
}
