.character-subpage-physical-section-1,
.character-subpage-physical-section-2 {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 8px);
}

.character-subpage-physical-section-1 {
	padding-right: 16px;
}

@media (max-width: 750px) {
	.character-subpage-physical-section-1,
	.character-subpage-physical-section-2 {
		padding: 0;
		width: 100%;
	}

	.character-subpage-physical-section-2 {
		padding: 24px 0;
	}
}
