.story-genres-container {
	width: 100%;
}

.story-genres-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 4px;
	margin-bottom: -4px;
	margin-left: -4px;
	width: calc(100% + 8px);
}

.story-genres-item {
	display: flex;
	align-items: center;
	margin: 4px;
	padding: 5px 10px;
	border-radius: 18px;

	min-width: min(115px, calc(50% - 6px - 20px));

	background: var(--grey4);
	transition: background 0.1s;
}

.story-genres-item-placeholder {
	display: flex;
	align-items: center;
	margin: 4px;
	padding: 5px 10px;
	border-radius: 18px;

	min-width: min(calc(115px), calc(50% - 6px - 20px));
	min-height: calc(15px);

	background: linear-gradient(90deg, var(--grey3), var(--grey5), var(--grey3));
	background-size: 400%;
	animation: story-genres-item-placeholder 5s infinite linear;
	transition: background 0.1s;
	opacity: 0.4;
}

@keyframes story-genres-item-placeholder {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 400%;
	}
}

.editable-container-is-editing .story-genres-item {
	padding: 4px 10px;
	padding-right: 4px;
	min-width: min(calc(115px), calc(50% - 6px - 10px - 4px));
}

.editable-container-is-editing .story-genres-item:hover {
	background: var(--grey5);
}

.story-genres-item-active {
	background: var(--storyColour);
}

.editable-container-is-editing .story-genres-item-active:hover {
	background: var(--storyHoverColour);
}

.story-genres-item-title {
	margin-right: 8px;
	font-size: 14px;
	line-height: 15px;
	text-align: left;
}

.editable-container-is-editing .story-genres-item-title {
	margin-right: 0;
}

.story-genres-item-info {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 1px;
}

.story-genres-item-stat {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.story-genres-item-stat:last-child {
	margin-right: 0;
}

.story-genres-item-stat svg {
	font-size: 13px;
}

.story-genres-item-stat-value {
	margin-left: 2px;
	font-size: 12px;
	font-weight: 700;
}

.story-genres-item-add-btn-container {
	margin-left: auto;
	padding-left: 4px;
}

.story-genres-search-container {
	margin-top: calc(4px + 8px);
}

.story-genres-new-genre-container {
	display: flex;
	align-items: center;
}

.story-genres-new-genre-container .icon-btn {
	margin-left: 8px;
}
