.home-stories-recommended-container {
	width: 100%;
}

.home-stories-recommended-title {
	margin-bottom: 8px;
	font-size: 22px;
	font-weight: 600;
}

.home-stories-recommended-loading-circle-container {
	position: relative;
	height: 346px;
}

.home-stories-recommended-list {
	display: flex;
	margin-left: -5px;
	width: calc(100% + 10px);
}

.home-stories-recommended-list-item-container {
	flex-grow: 0;
	position: relative;
	margin: 5px;
	transition: margin 0.3s;
	width: fit-content;
}

.home-stories-recommended-list-item-container:hover {
	margin-top: 1px;
	margin-bottom: 9px;
}

.home-stories-recommended-list {
	display: flex;
	flex-direction: row;
	padding-bottom: 8px;

	width: 100%;
}

@media (max-width: 750px) {
	.home-stories-recommended-loading-circle-container {
		height: 305px;
	}

	.home-stories-recommended-list {
		flex-wrap: nowrap;
	}
}

@media (max-width: 484px) {
	.home-stories-recommended-loading-circle-container {
		height: calc(((((50vw - 22px) * 3) / 2) - 30px) + (5px * 2));
	}
}
