.user-stories {
	margin: 0;
	width: 100%;
}

.user-stories-top {
	display: flex;
	align-items: center;
	margin: 32px 0;
	margin-bottom: 8px;
}

.user-stories-top-title {
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	vertical-align: middle;
}

.user-stories-top-items-count {
	display: inline-block;
	margin-left: 12px;
	font-size: 16px;
	color: #dddddd;
	vertical-align: middle;
}

.user-stories-top-modify-btns-container {
	margin-left: auto;
}

.user-stories-top-modify-btn {
	margin: 0 8px;
}

.user-stories-top-modify-btn:last-child {
	margin-right: 0;
}

.user-stories-story-items-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 48px;
	margin-left: -10px;
	width: calc(100% + 20px);
}

@media (max-width: 700px) {
	.user-stories {
		padding: 6px 24px;
		width: calc(100% - 48px);
	}
}

@media (max-width: 572px) {
	.user-stories {
		margin: 0;
		padding: 6px 0;
		width: calc(100% - 4px);
	}
}
