.characters-group-container {
	flex-shrink: 0;
	display: inline-block;
	border-radius: 4px;
	margin-left: 8px;
	width: calc(100% - (275px + 12px) - 8px);
	min-height: 699px;
	vertical-align: top;
}

.characters-group-primary {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 40px;
}

.characters-group-primary-title {
	margin-top: -1px;
	margin-bottom: 1px;
	margin-left: 6px;
	font-size: 22px;
	font-weight: 600;
	max-width: calc(100% - 115px);
}

.characters-group-primary-buttons-container {
	display: flex;
	align-items: center;
	margin-left: auto;
	height: 40px;
}

.characters-group-primary-open-group-btn {
	flex-shrink: 0;
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 4px;
	margin-left: 0;
	margin-right: 8px;
	padding: 0 16px;
	border: 0;
	border-radius: 32px;
	height: 40px;
	background: transparent;
	color: #fff;
	font-size: 13px;
	transition: 0.2s;
	cursor: pointer;
}

.characters-group-primary-open-group-btn::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	border-radius: inherit;
	content: "";
	width: 100%;
	height: 100%;
	background: var(--characters-group-active-group-colour);
	transition: 0.2s;
}

.characters-group-primary-open-group-btn:hover::before {
	filter: brightness(1.3) hue-rotate(-15deg);
}

.characters-group-primary-modify-btn {
	margin: 0 8px;
}

.characters-group-primary-modify-btn:last-child {
	margin-right: 0;
}

.characters-group-primary-modify-btns-container {
	display: flex;
	align-items: center;
}

@media (max-width: 950px) {
	.characters-group-container {
		margin: 0;
		width: 100%;
		min-height: 0;
	}

	.characters-group-primary {
		min-height: 96px;
	}

	.characters-group-primary-title {
		font-size: 24px;
	}

	.characters-group-primary-buttons-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.characters-group-primary-buttons-container-authorized-to-edit {
		height: 96px;
	}

	.characters-group-primary-open-group-btn {
		margin: 4px;
		margin-bottom: 16px;
	}

	.characters-group-primary-modify-btn {
		margin: 0 12px;
	}

	.characters-group-primary-modify-btn:last-child {
		margin-right: 8px;
	}
}
