.characters-group {
	flex-shrink: 0;
	display: inline-block;
	margin-left: 20px;
	border-radius: 4px;
	width: calc(100% - 20px - (310px + 12px));
	min-height: 699px;
	vertical-align: top;
}

.characters-group-primary {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	width: 100%;
}

.characters-group-primary-title {
	margin-top: -1px;
	margin-bottom: 1px;
	font-size: 28px;
	font-weight: 700;
	max-width: calc(100% - 115px);
}

.characters-group-primary-buttons-container {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.characters-group-primary-buttons-container-authorized-to-edit {
	height: 40px;
}

.characters-group-primary-open-group-btn {
	flex-shrink: 0;
	display: inline-block;
	margin: 4px;
	margin-left: 0;
	margin-right: 8px;
	padding: 0 16px;
	border: 0;
	border-radius: 32px;
	height: 40px;
	background: var(--accentColour);
	color: #fff;
	font-size: 13px;
	transition: 0.2s;
	cursor: pointer;
}

.characters-group-primary-open-group-btn:hover {
	background: var(--accentHoverColour);
}

.characters-group-primary-modify-btn {
	margin: 0 8px;
}

.characters-group-primary-modify-btn:last-child {
	margin-right: 0;
}

.characters-group-primary-modify-btns-container {
	display: flex;
	align-items: center;
}

@media (max-width: 950px) {
	.characters-group {
		margin: 0;
		margin-top: 12px;
		width: 100%;
		min-height: 0;
	}

	.characters-group-primary-title {
		font-size: 24px;
	}

	.characters-group-primary-buttons-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.characters-group-primary-buttons-container-authorized-to-edit {
		height: 96px;
	}

	.characters-group-primary-open-group-btn {
		margin: 4px;
		margin-bottom: 16px;
	}

	.characters-group-primary-modify-btn {
		margin: 0 12px;
	}

	.characters-group-primary-modify-btn:last-child {
		margin-right: 8px;
	}
}
