.characters-group {
	flex-shrink: 0;
	display: inline-block;
	margin-left: 24px;
	border-radius: 4px;
	width: calc(100% - 24px - 240px);
	vertical-align: top;
}

.characters-group-primary {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	width: 100%;
}

.characters-group-primary-title {
	margin-top: -1px;
	margin-bottom: 1px;
	font-size: 28px;
	font-weight: 700;
}

.characters-group-primary-open-group-btn {
	margin-left: auto;
	padding: 12px 16px;
	border: 0;
	border-radius: 32px;
	background: var(--accentColour);
	color: #fff;
	font-size: 13px;
	transition: 0.2s;
	cursor: pointer;
}

.characters-group-primary-open-group-btn:hover {
	background: var(--accentColourHover);
}

.characters-group-primary-create-character-btn {
	position: relative;
	display: inline-block;
	margin: 0;
	margin-left: 12px;
	padding: 0;
	border: 0;
	border-radius: 100%;

	width: 40px;
	height: 40px;

	background: var(--accentColour);
	color: #fff;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	transition: 0.2s;
	cursor: pointer;
}

.characters-group-primary-create-character-btn:hover {
	background: var(--accentColourHover);
}

.characters-group-primary-create-character-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

@media (max-width: 950px) {
	.characters-group {
		margin: 0;
		margin-top: 24px;
		width: 100%;
	}

	.characters-group-primary-title {
		font-size: 24px;
	}
}
