.characters-group-character-card {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 4px;
	margin-left: -180px;
	border: 6px solid var(--blue);
	border-radius: 16px;

	width: 441px;
	height: 607px;

	background: #0a0a0a;
	transition: 0.4s;
	cursor: pointer;
}

.characters-group-character-card:first-child {
	margin-left: 0;
}

.characters-group-character-card:last-child {
	margin-right: 0;
}

.characters-group-character-card:hover + .characters-group-character-card {
	margin-left: 4px;
}

.characters-group-character-card-content {
	position: relative;
	z-index: 1;
}

.characters-group-character-card-top-container {
	display: flex;
	justify-items: center;
	padding: 12px 20px;
}

.characters-group-character-card-top-name {
	font-size: 30px;
	font-weight: 700;
	color: var(--blue);
}

.characters-group-character-card-info-container {
	position: absolute;
	top: calc(363px - 8px);
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 16px);
}

.characters-group-character-card-info-item {
	margin-bottom: 8px;
	padding: 8px 12px;
	border-radius: 8px;
	background: var(--blue);
	text-align: left;
}

.characters-group-character-card-info-item-label {
	font-size: 12px;
	font-weight: 400;
}

.characters-group-character-card-info-item-value {
	font-size: 13px;
	font-weight: 700;
}

.characters-group-character-card-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: inherit;
	width: 100%;
	height: 100%;
}

.characters-group-character-card-background img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 700px) {
	.characters-group-character-card {
		margin-left: -120px;
		border-width: 4px;

		width: calc(100vw - 24px - 8px - 24px);
		max-width: calc((100vh - 70px - 8px - 12px - 8px - 24px - 39px - 24px) * (441 / 607));
		height: calc((100vw - 24px - 8px - 24px) * (607 / 441));
		max-height: calc(100vh - 70px - 8px - 12px - 8px - 24px - 39px - 24px);
	}

	.characters-group-character-card-top-name {
		font-size: 22px;
	}

	.characters-group-character-card-info-container {
		top: calc(219px - 12px);
	}

	.characters-group-character-card-info-item {
		display: none;
	}

	.characters-group-character-card-info-item:nth-child(1),
	.characters-group-character-card-info-item:nth-child(2),
	.characters-group-character-card-info-item:nth-child(3) {
		display: block;
	}

	.characters-group-character-card-info-item-label {
		font-size: 12px;
	}

	.characters-group-character-card-info-item-value {
		font-size: 13px;
	}
}
