.characters-group-character-card-container {
	margin-left: -178px;
	transition: margin 0.4s;
}

.characters-group-character-card-container:first-child {
	margin-left: 0;
}

.characters-group-character-card-container:last-child {
	margin-right: 0;
}

.characters-group-character-card-container:hover + .characters-group-character-card-container {
	margin-left: 4px;
}

.characters-group-characters-cards-container .drag-drop-item-enable-drag-drop {
	margin: 0 4px;
}

.characters-group-character-card {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 4px;
	border: 6px solid var(--accentColour);
	border-color: var(--characterColour);
	border-radius: 16px;

	width: 418px;
	height: 585px;

	background: var(--grey1);
	transition: margin 0.4s;
	cursor: pointer;
}

.drag-drop-item-enable-drag-drop .characters-group-character-card {
	animation: wiggle-small infinite 0.5s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even) .characters-group-character-card {
	animation-delay: 0.1s;
}

.characters-group-character-card-placeholder {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 4px;
	border: 6px solid var(--accentColour);
	border-color: var(--grey3);
	border-radius: 16px;

	width: 418px;
	height: 585px;

	background: var(--grey1);
	transition: margin 0.4s;
	cursor: pointer;
	animation: characters-group-character-card-placeholder 2s infinite;
}

@keyframes characters-group-character-card-placeholder {
	0% {
		border-color: var(--grey1);
		background: var(--grey1);
	}
	10%,
	55% {
		border-color: var(--grey4);
		background: var(--grey3);
	}
	88%,
	100% {
		border-color: var(--grey1);
		background: var(--grey1);
	}
}

.characters-group-character-card-content {
	position: relative;
	z-index: 1;
	height: 100%;
}

.characters-group-character-card-top-container {
	display: flex;
	align-items: center;
	padding: 12px 20px;
}

.characters-group-character-card-top-name {
	font-size: 28px;
	font-weight: 700;
	color: var(--blue);
	color: var(--characterColour);
}

.characters-group-character-card-character-type {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	padding: 7px 12px;
	border-radius: 32px;
	height: fit-content;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
}

.characters-group-character-card-summary-item-container {
	position: absolute;
	top: 324px;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	width: calc(100% - 16px);
	max-height: calc(100% - 324px);
	overflow: hidden;
}

.characters-group-character-card-summary-item {
	margin-bottom: 8px;
	padding: 8px 12px;
	border-radius: 8px;

	width: calc(100% - 24px);

	background: var(--blue);
	background: var(--characterColour);
	color: #fff;
	text-align: left;
}

.characters-group-character-card-summary-item-label {
	font-size: 12px;
	font-weight: 400;
}

.characters-group-character-card-summary-item-text {
	font-size: 12px;
	font-weight: 700;
}

.characters-group-character-card-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: inherit;
	width: 100%;
	height: 100%;
}

.characters-group-character-card-background img {
	border-radius: 11px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	transform: translate(-1px, -1px);
	object-fit: cover;
	-webkit-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}

@media (max-width: 700px) {
	.characters-group-character-card-container {
		margin-left: -130px;
	}

	.characters-group-character-card {
		border-width: 5px;

		width: calc(100vw - 24px - 10px - 48px);
		max-width: min(441px, calc((100vh - 70px - 8px - 12px - 10px - 24px - 39px - 48px) * (441 / 607)));
		height: calc((100vw - 24px - 10px - 48px) * (607 / 441));
		max-height: min(607px, calc(100vh - 70px - 8px - 12px - 10px - 24px - 39px - 48px));
	}

	.characters-group-character-card-top-container {
		padding: 8px 12px;
	}

	.characters-group-character-card-top-name {
		font-size: 22px;
	}

	.characters-group-character-card-summary-item-container {
		top: 47.5%;
		max-height: calc(100% - 47.5% + 1px);
	}

	.characters-group-character-card-summary-item-label {
		font-size: 11px;
	}

	.characters-group-character-card-summary-item-text {
		font-size: 11px;
	}
}
