.text-container {
	color: var(--textColour);
}

.text-container-light-text {
	color: #fff;
}

.text-paragraph {
	margin: 0;
	min-height: calc(18px * var(--fontSizeMultiplier));
	font-size: calc(15px * var(--fontSizeMultiplier));
}

.text-paragraph:last-child {
	margin-bottom: 0;
}
