.locations-hierarchy {
	--locationsHierarchyHeight: calc(var(--vh) - (2 * 16px));

	position: absolute;
	right: 0px;
	padding: 16px;
	z-index: 3;

	width: calc(100% - 8px - 46px - 2 * 16px);
	height: var(--locationsHierarchyHeight);
}

.locations-hierarchy::before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	display: block;
	content: "";
	border: 2px solid var(--colour-grey-two);
	border-top: 0;
	border-bottom: 0;
	border-right: 0;

	width: calc(100% - 2px);
	height: 100%;

	background: var(--colour-grey-one);
}

.locations-hierarchy-is-displaying-details {
	--locationsHierarchyHeight: calc(var(--vh) * 0.25 - (2 * 16px));
}

.locations-hierarchy-mouse-over-map {
	user-select: none;
}

.locations-hierarchy-title {
	margin-bottom: 6px;
	font-size: var(--font-size-p-l);
	font-weight: 600;
}

@media (max-width: 768px) {
	.locations-hierarchy {
		--locationsHierarchyHeight: calc(var(--vh) - var(--navbar-mobile-height) - (2 * 16px));

		position: absolute;
		left: calc(40px + 8px);
		padding: 16px;
		z-index: 2;

		width: calc(100vw - (2 * 16px) - 8px - 8px - 40px);
	}

	.locations-hierarchy-is-displaying-details {
		display: none;
	}
}
