.submit-btn {
	margin: 0;
	padding: 8px 16px;
	border: 0;
	border-radius: 8px;

	background: var(--accentColour);
	color: var(--textColour);
	transition: 0.2s;
	cursor: pointer;
}

.submit-btn:hover {
	background: var(--accentHoverColour);
}

.submit-btn-text {
	margin-top: -1px;
	margin-bottom: 1px;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.submit-btn-icon {
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
	font-size: 15px;
}
