.url-preview-message {
	padding: 12px 0;
	padding-right: 12px;
	padding-top: 6px;
	text-align: right;
	color: var(--colour-light-green);
}

.url-preview-message-label {
	display: inline-block;
	font-weight: 600;
	color: var(--text-colour-primary);
}

.url-preview-message-suggestion {
	display: inline-block;
	margin-left: 5px;
}
