.story-header {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: -117px;
	padding: 12px 0;
	padding-bottom: calc(12px + 1px + 12px);
	border-radius: 4px;
}

.story-header-background {
	position: absolute;
	z-index: -1;
	top: -24px;
	left: 50%;
	transform: translate(-50%);
	display: block;
	content: "";
	width: 100%;
	height: calc(117px + 24px);
	background: linear-gradient(180deg, transparent, var(--grey1));
	pointer-events: none;
}

@media (max-width: 750px) {
	.story-header {
		margin-top: 0;
		padding: 6px 0;
		padding-bottom: calc(6px + 1px);
	}

	.story-header-background {
		top: calc(-24px + -37px);
	}

	.story-header-title-members-container {
		order: 3;
		flex: 1 0 calc(100% - 24px);
		margin: 4px 12px;
		margin-top: 8px;
		max-width: 100%;
	}
}
