.story-header {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 12px 0;
	padding-bottom: calc(12px + 1px);
	border-radius: 4px;
	background: var(--grey1);
}

.story-header::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: "";
	border-radius: 4px;
	width: 100%;
	height: 1px;
	background: var(--grey5);
}

@media (max-width: 750px) {
	.story-header {
		padding: 6px 0;
		padding-bottom: calc(6px + 1px);
	}

	.story-header-title-members-container {
		order: 3;
		flex: 1 0 calc(100% - 24px);
		margin: 4px 12px;
		max-width: 100%;
	}
}
