.story-primary-main-info-members {
	margin-top: -3px;
	margin-bottom: 3px;
	font-weight: 400;
	font-size: 16px;
	color: var(--textColour);
	min-height: 24px;
}

.story-primary-main-info-member {
	position: relative;
	display: inline-block;
	margin: 2px;
	margin-left: 0;
	cursor: pointer;
}

.story-primary-main-info-member-label {
	position: absolute;
	left: 50%;
	bottom: -32px;
	z-index: 2;
	transform: translateX(-50%);
	padding: 4px 8px;
	border-radius: 4px;

	background: var(--grey4);
	color: var(--textColour);
	font-weight: 500;
	font-size: 16px;
	opacity: 0;
	transition: 0.2s;
}

.story-primary-main-info-member:hover .story-primary-main-info-member-label {
	opacity: 1;
}

@media (max-width: 750px) {
	.story-primary-main-info-members {
		font-size: 13px;
	}

	.story-primary-auth-buttons-member {
		margin-right: 12px;
	}
}
