.story {
	margin: 0 auto;
	padding: 6px 48px;
	max-width: 1600px;
}

.story-section-1 {
	display: inline-block;
	margin-top: 12px;
	margin-right: 24px;
	width: calc(50% - 24px);
	vertical-align: top;
}

.story-section-2 {
	display: inline-block;
	margin-top: 12px;
	margin-left: 24px;
	width: calc(50% - 24px);
	vertical-align: top;
}

@media (max-width: 1050px) {
	.story {
		padding: 6px;
	}

	.story-section-1,
	.story-section-2 {
		margin: 0;
		width: 100%;
	}
}
