.story {
	margin: 0 auto;
	padding: 6px 48px;
	max-width: 1550px;
}

.story-section-1 {
	display: inline-block;
	margin-top: 12px;
	width: 50%;
	vertical-align: top;
}

.story-section-2 {
	display: inline-block;
	margin-top: 12px;
	width: 50%;
	vertical-align: top;
}

.story-section-1 .content-item,
.story-section-2 .content-item {
	margin: 8px 4px;
}

@media (max-width: 1050px) {
	.story {
		padding: 6px;
	}

	.story-section-1,
	.story-section-2 {
		margin: 0;
		width: 100%;
	}

	.story-section-2 {
		margin-top: -8px;
	}
}
