.group-overview-description-container {
	width: calc(50% - 180px);
	max-width: 500px;
}

.group-overview-description {
	margin: 0;
	padding: 8px 12px;
	border-radius: 8px;
	width: calc(100% - 24px);
	background: var(--groupColour);
	color: #fff;
	text-align: left;
}

.group-overview-description-label {
	font-size: 13px;
	font-weight: 400;
}

@media (max-width: 1300px) {
	.group-overview-description-container {
		margin: 0 auto;
		margin-bottom: 24px;
		width: 100%;
		max-height: unset;
	}
}
