.story-description {
	margin: 8px 0;
	padding: 12px;
	border-radius: 4px;
	width: calc(100% - 24px);
}

.story-description-title {
	margin-bottom: 6px;
	font-size: calc(20px * var(--fontSizeMultiplier));
	font-weight: 700;
	color: var(--textColour);
}

@media (max-width: 750px) {
	.story-description {
		padding: 12px 6px;
	}

	.story-description-title {
		font-size: calc(17px * var(--fontSizeMultiplier));
	}
}
