.substory-container {
	position: relative;
	z-index: 2;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.substory-container::before {
	position: absolute;
	z-index: -100;
	top: -24px;
	left: 0;
	display: block;
	content: "";
	width: calc(100% + (7px));
	height: calc(24px + var(--substoryPrimaryPaddingTop) - 14px);
	background: linear-gradient(0deg, var(--substoryColour), var(--colour-grey-one));
	opacity: 0.6;
	transition: 0.2s;
}

.theme-light .substory-container::before {
	opacity: 0.88;
}

.substory-container::after {
	position: absolute;
	z-index: -100;
	top: calc(var(--substoryPrimaryPaddingTop) - 14px);
	left: 0;
	display: block;
	content: "";
	width: calc(100% + (7px));
	height: calc(6px + 6px + 36px + 32px);
	background: linear-gradient(180deg, var(--substoryColour), var(--colour-grey-one));
	opacity: 0.35;
	transition: 0.2s;
}

.theme-light .substory-container::after {
	opacity: 0.75;
}

.substory-container-is-on-overview::before,
.substory-container-is-on-overview::after {
	opacity: 0;
}

.substory {
	margin: 0 auto;
	padding: 0;
	height: calc(100%);
}

.substory *::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.substory *::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--characterColour);
}

.substory-hidden {
	display: none;
}

.substory-loading-container {
	position: absolute;
	z-index: 1000;
	display: flex;
	width: calc(100%);
	height: var(--vh);
	justify-content: center;
	align-items: center;
	background: var(--colour-grey-one);
	transition: opacity 0.2s;
	transition-delay: 0.5s;
	opacity: 1;
}

.substory-loading-container-hidden {
	opacity: 0;
	user-select: none;
	pointer-events: none;
}

.substory-content-container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: visible;
	transition: transform 0.6s;
}

.substory-content-container::-webkit-scrollbar {
	display: none;
}

.substory-content-container-is-on-subpages {
	transform: translateY(calc(-1 * 100vh));
}

.substory-container-is-authorized .substory-content-container-is-on-subpages {
	transform: translateY(0);
}

@media (max-width: 750px) {
	.substory-container::before {
		top: -24px;
		height: calc(24px + var(--substoryPrimaryPaddingTop) - 6px);
	}

	.substory-container::after {
		top: calc(var(--substoryPrimaryPaddingTop) - 6px);
		height: calc(6px + 36px + 6px);
	}

	.substory {
		padding: 0;
		height: 100%;
	}

	.substory-content-container {
		flex-direction: row;
		transition: transform 0.5s;
	}

	.substory-content-container-is-on-subpages {
		transform: translateX(calc(-1 * (100vw)));
	}
}
