.substory-container {
	position: relative;
	z-index: 2;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.substory-container::before {
	position: absolute;
	z-index: -100;
	top: -24px;
	left: 0;
	display: block;
	content: "";
	width: calc(100% + (7px));
	height: calc(24px + var(--substoryPrimaryPaddingTop) - 14px);
	background: linear-gradient(0deg, var(--substoryColour), var(--grey1));
	opacity: 0.6;
	transition: 0.2s;
}

.theme-light .substory-container::before {
	opacity: 0.88;
}

.substory-container::after {
	position: absolute;
	z-index: -100;
	top: calc(var(--substoryPrimaryPaddingTop) - 14px);
	left: 0;
	display: block;
	content: "";
	width: calc(100% + (7px));
	height: calc(6px + 6px + 36px + 32px);
	background: linear-gradient(180deg, var(--substoryColour), var(--grey1));
	opacity: 0.35;
	transition: 0.2s;
}

.theme-light .substory-container::after {
	opacity: 0.75;
}

.substory-container-is-on-overview::before,
.substory-container-is-on-overview::after {
	opacity: 0;
}

.substory {
	margin: 0 auto;
	padding: 0;
	height: calc(100%);
}

.substory-hidden {
	display: none;
}

.substory-loading-container {
	position: absolute;
	display: flex;
	width: calc(100%);
	height: var(--vh);
	justify-content: center;
	align-items: center;
}

.substory-content-container {
	position: relative;
	z-index: 1;
	display: flex;
	height: 100%;
	overflow: visible;
	transition: transform 0.8s;
}

.substory-content-container::-webkit-scrollbar {
	display: none;
}

.substory-content-container-is-on-subpages {
	transform: translateX(calc(-1 * (100vw - 68px - 24px - 12px - 6px)));
}

@media (max-width: 700px) {
	.substory {
		padding: 0;
		height: 100%;
	}

	.substory-content-container {
		transition: transform 0.5s;
	}

	.substory-content-container-is-on-subpages {
		transform: translateX(calc(-1 * (100vw - 34px)));
	}

	.substory-container::before {
		position: absolute;
		top: -24px;
		left: 0;
		display: block;
		content: "";
		width: calc(100% + (24px + 12px + 6px));
		height: calc(24px + var(--substoryPrimaryPaddingTop) - 6px);
		background: linear-gradient(0deg, var(--substoryColour), var(--grey1));
		opacity: 0.6;
		z-index: -100;
	}

	.substory-container::after {
		position: absolute;
		top: calc(var(--substoryPrimaryPaddingTop) - 6px);
		left: calc(-1 * (24px + 12px + 6px));
		display: block;
		content: "";
		width: calc(100% + (24px + 12px + 6px));
		height: calc(6px + 36px + 6px);
		background: linear-gradient(180deg, var(--substoryColour), var(--grey1));
		opacity: 0.35;
		z-index: -100;
	}
}
