.locations-hierarchy-create-hierarchy-item-form-input-container {
	margin: 12px 0;
}

.locations-hierarchy-create-hierarchy-item-form-subtitle {
	margin: 0;
	margin-bottom: 6px;
	font-size: var(--font-size-p-s);
	font-weight: 600;
	color: var(--text-colour-secondary);
}

.locations-hierarchy-create-hierarchy-item-form-submit-container {
	margin-top: 20px;
	text-align: right;
}

.locations-hierarchy-create-hierarchy-item-form-submit-btn-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.locations-hierarchy-create-hierarchy-item-form-submit-btn-icon {
	display: inline-block;
	margin-top: 1px;
	margin-left: 8px;
	vertical-align: middle;
	font-size: 15px;
}
