.unauthorized-navigation-bar {
	position: relative;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	margin: 4px;
	padding: 12px;
	border-radius: 4px;

	width: calc(100% - 8px - 24px);

	background: var(--grey2);
}

.unauthorized-navigation-bar-landing-btn {
	display: flex;
	align-items: center;
	margin-right: auto;
	border: 0;

	background: #00000000;
	color: var(--blue);
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;
	transition: 0.2s;
	cursor: pointer;
	vertical-align: middle;
}

.unauthorized-navigation-bar-landing-btn:hover {
	color: var(--blue2);
}

.unauthorized-navigation-bar-landing-btn-logo {
	min-height: 36px;
	height: 36px;
	transition: 0.2s;
}

.unauthorized-navigation-bar-landing-btn:hover .unauthorized-navigation-bar-landing-btn-logo {
	filter: hue-rotate(-16deg) brightness(1.4);
}

.unauthorized-navigation-bar-landing-btn-text {
	margin-left: 16px;
}

.unauthorized-navigation-bar-btn {
	margin: 0;
	margin-left: 12px;
	padding: 10px 20px;
	border: 0;
	border-radius: 32px;

	height: fit-content;

	background: var(--blue);
	color: #fff;
	transition: 0.2s;
	cursor: pointer;
}

.unauthorized-navigation-bar-btn:hover {
	background: var(--blue2);
}

.unauthorized-navigation-bar-btn:last-child {
	margin-right: 0;
}

@media (max-width: 700px) {
	.unauthorized-navigation-bar-landing-btn-text {
		display: none;
	}
}
