.unit-page-subpage-relationships-info-container {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	width: 400px;
}

.unit-page-subpage-relationships-info {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 16px 20px;
}

@media (max-width: 1100px) {
	.unit-page-subpage-relationships-info-container {
		position: absolute;
		top: 0;
		right: 0;
		margin-left: auto;
		height: calc(var(--unitPageSubpageMaxHeight) - 24px - 8px);
		width: calc(100%);
		display: none;
	}

	.unit-page-subpage-relationships-info {
		min-height: calc(100% - 16px);
	}

	.unit-page-subpage-relationships-info-container-is-displaying {
		display: block;
	}

	.unit-page-subpage-relationships-info-container .unit-page-relationship-info {
		margin: 0;
		padding: 12px;
	}
}

@media (max-width: 750px) {
	.unit-page-subpage-relationships-info-container {
		width: 100%;
	}
}
