.substory-primary-container {
	position: absolute;
	z-index: 10;
	margin: 0;
	margin-bottom: 10px;
	padding: 0 24px;
	padding-top: calc(28px + 4px * 2);
	width: calc(100vw - var(--navbarWidth) - 48px);
	height: 59px;
	align-items: center;
}

.substory-primary {
	display: flex;
}

.substory-primary-story {
	position: absolute;
	top: 6px;
	display: flex;
	align-items: center;

	width: max-content;
	height: 32px;
}

.substory-primary-story-icon {
	margin-right: 12px;
	border-radius: 100%;
	width: 28px;
	height: 28px;
}

.substory-primary-story-icon img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.substory-primary-story-name {
	width: max-content;
	font-size: 14px;
	font-weight: 700;
	color: var(--textColour);
}

.substory-primary-section-switcher-btn {
	position: relative;
	display: none;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	color: var(--textColour);
	font-size: 32px;
	width: 17px;
	height: 32px;
	animation: none;
}

.substory-primary-section-switcher-btn svg {
	position: absolute;
	top: 50%;
	left: -8px;
	transform: translateY(-50%);
}

@media (max-width: 750px) {
	.substory-primary-container {
		margin: 6px 0;
		margin-bottom: 12px;
		padding: 0 6px;
		width: calc(100vw - 12px);
		height: fit-content;
	}

	.substory-primary {
		display: inline-flex;
		align-items: flex-start;
		flex-direction: column;
		width: calc(100% - 17px - 10px);
		vertical-align: middle;
	}

	.substory-primary-name-container {
		max-width: calc(100% - 152px);
		margin-bottom: 4px;
	}

	.substory-primary-story {
		display: none;
	}

	.substory-primary-section-switcher-btn {
		display: inline-block;
		width: 0;
		opacity: 0;
		pointer-events: none;
		transition: 0.3s linear;
		vertical-align: middle;
	}

	.substory-container:not(.substory-container-is-on-overview) .substory-primary-section-switcher-btn-to-overview {
		display: inline-block;
		margin-right: 10px;
		animation: substory-primary-section-switcher-btn 0.3s 1;
		animation-fill-mode: forwards;
	}

	.substory-container-is-on-overview .substory-primary-section-switcher-btn-to-subpages {
		display: inline-block;
		margin-left: 10px;
		animation: substory-primary-section-switcher-btn 0.3s 1;
		animation-fill-mode: forwards;
	}

	@keyframes substory-primary-section-switcher-btn {
		0% {
			width: 0;
			opacity: 0;
		}
		100% {
			width: 17px;
			opacity: 1;
			pointer-events: all;
		}
	}
}
