.user-settings-section-container {
	margin: 12px 0;
	margin-bottom: 24px;
}

.user-settings-section-container:last-child {
	margin-bottom: 12px;
}

.user-settings-section-label {
	font-size: 16px;
	font-weight: 700;
}

.user-settings-input-container {
	margin-top: 6px;
}

.editable-container-is-editing.user-settings-input-container {
	margin-top: 4px;
}

.user-settings-input-container {
	margin-bottom: 6px;
}
