.objects-list-item {
	flex-shrink: 0;
	flex-grow: 0;
	width: calc(min(12px, 2vw) * 16);
	cursor: pointer;
}

.drag-drop-item-enable-drag-drop .objects-list-item {
	animation: wiggle-medium infinite 0.75s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even) .objects-list-item {
	animation-delay: 0.1s;
}

.objects-list-item-image-container {
	padding-top: 6px;
	padding-bottom: 0px;
	transition: 0.2s;
}

.objects-list-item:hover .objects-list-item-image-container {
	padding-top: 0px;
	padding-bottom: 6px;
}

.objects-list-item-image {
	display: block;
	content: "";
	margin-bottom: 4px;
	width: 100%;
	height: calc(min(12px, 2vw) * 9);
	border-radius: 5px;
	background: var(--colour-grey-three);
	box-shadow: 0 0 20px transparent;
	transition: 0.2s;
}

.objects-list-item:hover .objects-list-item-image {
	box-shadow: 0 0 20px var(--objectColour);
}

.objects-list-item-name {
	transform: 0.2s;
}

.objects-list-item:hover .objects-list-item-name {
	text-shadow: 0 0 12px var(--objectColour), 0 0 12px var(--objectColour), 0 0 12px var(--objectColour);
}

@media (max-width: 615px) {
	.objects-list-item {
		flex-shrink: 0;
		flex-grow: 0;
		width: calc((100vw - 16px - 12px) / 2);
	}

	.objects-list-item-image {
		display: block;
		content: "";
		margin-bottom: 4px;
		width: 100%;
		height: calc((100vw - 16px - 12px) / 2 / 16 * 9);
		border-radius: 5px;
		background: var(--colour-grey-two);
	}
}

@media (max-width: 400px) {
	.objects-list-item {
		flex-shrink: 0;
		flex-grow: 0;
		width: min(calc((100vw - 16px - 12px)), calc(16px * 16));
	}

	.objects-list-item-image {
		display: block;
		content: "";
		margin-bottom: 4px;
		width: 100%;
		height: min(calc((100vw - 16px - 12px) / 16 * 9), calc(16px * 9));
		border-radius: 5px;
		background: var(--colour-grey-two);
	}
}
