.login {
	position: relative;
	width: 100%;
}

.login-form {
	margin: 80px auto;
	margin-top: 16vh;
	padding: 24px;
	border-radius: 4px;

	width: calc(100% - 48px - 24px);
	max-width: 600px;

	background: var(--grey2);
	text-align: center;
}

.login-form-title {
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
}

.login-form-text-input-container {
	margin: 10px 0;
}

.login-form-submit-container {
	margin-top: 20px;
	text-align: right;
}

.login-form-submit-btn {
	margin: 0;
	padding: 8px 16px;
	border: 0;
	border-radius: 8px;

	background: var(--blue);
	color: #fff;
	transition: 0.2s;
	cursor: pointer;
}

.login-form-submit-btn:hover {
	background: var(--blue2);
}

.login-form-submit-btn-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.login-form-submit-btn-icon {
	display: inline-block;
	margin-top: 1px;
	margin-left: 8px;
	vertical-align: middle;
	font-size: 15px;
}
