.user-primary-names {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

.user-primary-names-is-authorized {
	margin-left: 12px;
	max-width: calc(100% - 12px);
}

.editable-container-is-editing.user-primary-names-nickname-container {
	align-items: flex-end;
}

.user-primary-names-nickname,
.user-primary-names-nickname-container input {
	font-weight: 700;
	font-size: 24px;
}

.user-primary-names-nickname-container {
	width: fit-content;
}

.user-primary-names-nickname {
	width: 100%;
}

.user-primary-names-username {
	font-weight: 400;
	font-size: 16px;
	color: #aaa;
}

@media (max-width: 700px) {
	.user-primary {
		padding: 0;
		padding-bottom: 12px;
	}

	.user-primary-profile-picture {
		margin-left: 6px;
		width: 60px;
		height: 60px;
	}

	.user-primary-names {
		max-width: 100%;
	}

	.user-primary-names-is-authorized {
		max-width: calc(100% - 12px);
	}

	.user-primary-names-nickname,
	.user-primary-names-nickname-container input {
		font-size: 18px;
	}

	.user-primary-names-username {
		font-weight: 400;
		font-size: 14px;
	}
}
