.user-primary {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	padding-bottom: calc(14px + 2px);
	border-radius: 4px;
	background: var(--grey1);
}

.user-primary::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: "";
	border-radius: 4px;
	width: 100%;
	height: 2px;
	background: var(--grey3);
}

.user-primary-break {
	flex-basis: 100%;
	height: 0;
}

.user-primary-auth-buttons-container {
	display: inline-block;
	margin-left: auto;
	margin-right: 12px;
	vertical-align: middle;
}

.user-primary-auth-btn {
	margin: 0 12px;
}

.user-primary-auth-btn:last-child {
	margin-right: 0;
}

@media (max-width: 700px) {
	.user-primary {
		padding: 0;
		padding-bottom: 12px;
	}

	.user-primary-auth-btn {
		margin: 0 8px;
	}
}
