.user-primary {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	padding-bottom: 12px;
	border-radius: 4px;
	background: var(--grey2);
}

.user-primary-banner {
	display: block;
	margin-bottom: 12px;
	border-radius: 4px 4px 0 0;
	width: calc(100% + 48px);
	height: 320px;
	background: var(--grey3);
}

.user-primary-banner img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-primary-break {
	flex-basis: 100%;
	height: 0;
}

.user-primary-profile-picture {
	display: inline-block;
	margin: 0 24px;
	border-radius: 100%;
	width: 75px;
	height: 75px;
	vertical-align: middle;
	background: var(--grey1);
}

.user-primary-profile-picture img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-primary-names {
	display: inline-block;
	vertical-align: middle;
}

.user-primary-names-nickname {
	font-weight: 700;
	font-size: 24px;
}

.user-primary-names-username {
	font-weight: 400;
	font-size: 18px;
}

.user-primary-auth-buttons-container {
	display: inline-block;
	margin-left: auto;
	margin-right: 24px;
	vertical-align: middle;
}

.user-primary-auth-btn {
	position: relative;
	display: inline-block;
	margin: 4px;
	padding: 0;
	border: 0;
	border-radius: 100%;

	width: 46px;
	height: 46px;

	background: var(--grey1);
	color: var(--blue);
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	transition: 0.2s;
	cursor: pointer;
}

.user-primary-auth-btn:hover {
	background: var(--blue);
	color: #fff;
}

.user-primary-auth-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.user-primary-auth-btn-settings svg {
	font-size: 24px;
}

@media (max-width: 700px) {
	.user-primary-profile-picture {
		width: 60px;
		height: 60px;
	}
	.user-primary-names-nickname {
		font-size: 20px;
	}

	.user-primary-names-username {
		font-weight: 400;
		font-size: 16px;
	}
}
