.substory-section-switcher {
	position: absolute;
	z-index: 2;
	top: calc(100vh - 40px);
	left: 0;
	padding: 0;
	width: 100%;
	height: 40px;
	transition: 0.2s;
	opacity: 1;
}

.substory-section-switcher-on-subpages {
	opacity: 0;
	pointer-events: none;
}

.substory-section-switcher-btn {
	position: relative;
	transform: rotate(90deg);
	padding: 0;
	border: 0;
	width: 100%;
	background: transparent;
	color: var(--text-colour-primary);
	transition: transform 0.75s;
	cursor: pointer;
}

.substory-section-switcher-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	width: 100%;
}

@media (max-width: 1300px) {
	.substory-section-switcher {
		display: none;
	}
}
