.substory-section-switcher {
	flex-shrink: 0;
	display: inline-block;
	position: relative;
	padding: 0 6px;
	padding-right: 12px;
	width: 24px;
	height: calc(100% - 48px - 59px - 48px);
}

.substory-section-switcher-on-subpages {
	padding: 0 6px;
	padding-left: 12px;
}

.substory-section-switcher-on-subpages .substory-section-switcher-btn {
	transform: rotate(180deg);
}

.substory-section-switcher-btn {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	border: 0;
	width: 100%;
	background: transparent;
	color: var(--substoryColour);
	transition: transform 0.75s;
	cursor: pointer;
}

.substory-section-switcher-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	width: 100%;
}

@media (max-width: 700px) {
	.substory-section-switcher {
		padding-right: 4px;
		height: calc(100% - 6px - 82px - 6px);
	}

	.substory-section-switcher-on-subpages {
		padding: 0 6px;
		padding-left: 4px;
	}

	.substory-section-switcher-btn {
		transition: transform 0.5s;
	}
}
