.characters-relationship-container {
	position: relative;
	margin: 24px auto;
	width: 100%;
	min-height: calc(var(--charactersRelationshipChartWidth) + 8px + 26px);
}

.characters-relationship-primary {
	display: flex;
	align-items: center;
}

.characters-relationship-primary-title {
	margin-right: 12px;
	font-size: calc(22px * var(--fontSizeMultiplier));
	font-weight: 700;
	max-width: calc(100% - 115px);
}

.characters-relationship-primary-buttons-container {
	display: none;
	margin-left: auto;
	margin-right: 6px;
}

.characters-relationship-content {
	position: relative;
	height: 100%;
	margin-top: 8px;
}

@media (max-width: 1000px) {
	.characters-relationship-container {
		min-height: 100%;
		height: calc(var(--vh) - var(--navbarMobileHeight) - 48px - 48px);
	}

	.characters-relationship-primary-buttons-container {
		display: block;
	}
}
