.label-container {
	display: flex;
	margin: 12px 0;
	padding: 12px;
	border-radius: 4px;
	width: calc(100% - 24px);
}

.label-label {
	margin: 0;
	width: fit-content;
	max-width: 50%;
	word-wrap: break-word;
	word-break: break-all;
	font-size: 24px;
	font-weight: 700;
}

.label-value {
	margin: 0;
	margin-top: 6px;
	margin-left: auto;
	font-size: 16px;
	font-weight: 400;
	word-wrap: break-word;
	word-break: break-all;
	text-align: right;
	vertical-align: top;
}

.label-value .text-input-container {
	margin-top: -3px;
}

.label-value input {
	text-align: right;
}

.label-value .dropdown-container {
	position: relative;
	margin-left: auto;
	width: fit-content;
	text-align: right;
}

.label-value .dropdown-options-container {
	width: 100% !important;
}

@media (max-width: 700px) {
	.label-container {
		padding: 12px 6px;
	}

	.label-label {
		font-size: 20px;
	}
}
