.label-container {
	display: flex;
	justify-content: center;
	margin: 12px 0;
	padding: 12px;
	border-radius: 4px;
	width: calc(100% - 24px);
}

.label-label {
	margin: 0;
	width: 85px;
	font-size: 24px;
	font-weight: 700;
}

.label-value {
	margin: 0;
	margin-left: 6px;
	width: calc(100% - 85px - 6px);
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	vertical-align: top;
}

.label-value input {
	text-align: right;
}

@media (max-width: 700px) {
	.label-container {
		padding: 12px 6px;
	}

	.label-label {
		width: 71px;
		font-size: 20px;
	}

	.label-value {
		width: calc(100% - 71px - 6px);
	}
}
