.character-subpages-container {
	position: relative;
	flex-shrink: 0;
	display: inline-block;
	padding-top: var(--characterPaddingTop);
	padding-left: 0;
	padding-right: 16px;

	width: calc(100vw - var(--navbarWidth) - 6px - 24px - 12px - 16px);
	height: calc(100% - var(--characterPaddingTop));
	overflow: visible;

	vertical-align: top;
}

.character-subpages {
	padding-right: 8px;
	width: calc(100% - 8px);
	height: 100%;
	overflow-y: overlay;
	overflow-x: hidden;
}

.character-subpages::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.character-subpages::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--characterColour);
}

.character-subpage-container {
	padding: 12px 8px;
	width: calc(100% - 16px);
	min-height: calc(100% - 24px - 36px);
}

@media (max-width: 700px) {
	.character-subpages-container {
		padding-top: var(--characterPaddingTop);
		padding-right: 6px;

		width: calc(100vw - 34px - 6px);
		height: calc(100% - var(--characterPaddingTop));
	}

	.character-subpages {
		padding-right: 0;
		width: 100%;
	}

	.character-overview-content {
		margin-top: 45vh;
		flex-direction: column;
	}
}
