.character-subpages-container {
	position: relative;
	flex-shrink: 0;
	display: inline-block;
	padding-top: calc(6px + 48px + 59px + 24px);
	padding-left: 0;
	padding-right: 24px;
	width: calc(100vw - 70px - 24px - 24px - 12px - 12px);
	height: 100%;
	overflow: visible;
	vertical-align: top;
}

.character-subpages {
	height: 100%;
	overflow-y: overlay;
}

.character-subpages::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.character-subpages::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--characterColour);
}

.character-subpage-container {
	padding: 12px 8px;
	width: calc(100% - 16px);
}

@media (max-width: 700px) {
	.character-subpages-container {
		padding-top: calc(6px + 82px + 12px);
		padding-right: 6px;
		width: calc(100vw - 34px - 6px);
	}

	.character-subpages {
		padding-right: 0;
		width: 100%;
	}

	.character-overview-content {
		margin-top: 45vh;
		flex-direction: column;
	}
}
