.locations-menu-container {
	position: absolute;
	z-index: 2;
	right: -400px;
	width: calc(400px + 8px + 46px);
	height: 100%;
	transition: 0.2s;
}

.locations-menu-container-is-displaying {
	right: 0px;
}

.locations-menu-container-selected-location {
	width: min(100%, 800px);
}

.locations-menu-buttons {
	display: flex;
	flex-direction: column;
	gap: 8px 0;
	position: absolute;
	left: 0;
	bottom: 8px;
}

.locations-menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	border-radius: 100%;

	height: 22px;

	background: var(--colour-grey-three);
	font-size: 22px;
	cursor: pointer;
	transition: 0.2s;
}

.locations-menu-btn:hover {
	background: var(--colour-grey-four);
}

.locations-menu-speed-container {
	display: flex;
	flex-direction: column-reverse;
	gap: 8px;
}

.locations-menu-speed,
.locations-menu-speed:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: -6px 0;
	width: 46px;
	height: 46px;
	font-size: 32px;
	background: transparent;
	cursor: pointer;
}

.locations-menu-speed {
	opacity: 0.344;
}

.locations-menu-speed-active {
	opacity: 1;
}

@media (max-width: 768px) {
	.locations-menu-container {
		left: calc(100vw - 8px - 40px);
		width: calc(100vw + 8px + 40px);
	}

	.locations-menu-container-is-displaying {
		left: 8px;
		width: 100vw;
	}

	.locations-menu-buttons {
		position: absolute;
		left: 0;
		bottom: 8px;
	}
}
