.group-subpage-profile {
	display: flex;
	gap: 8px;
	overflow-x: hidden;
}

.group-subpage-profile-section-1 {
	width: 100%;
	max-width: calc(100% - 500px);
}

.group-subpage-profile-section-2 {
	width: 100%;
	max-width: 500px;
}

@media (max-width: 750px) {
	.group-subpage-profile {
		flex-direction: column-reverse;
	}

	.group-subpage-profile-section-1,
	.group-subpage-profile-section-2 {
		max-width: unset;
	}
}
