.characters {
	margin: 0 auto;
	padding: 48px;
	padding-top: 0;
	max-width: 1800px;
}

.characters-content-container {
	display: flex;
	flex-wrap: wrap;
}

.characters-character-types-content-container {
	margin-top: 12px;
	min-width: 100%;
	min-height: calc(200px + (var(--vh) / 2));
}

@media (max-width: 700px) {
	.characters {
		padding: 0;
	}
}

@media (max-width: 950px) {
	.characters-content-container {
		display: block;
	}

	.characters-character-types-content-container {
		margin-top: 0;
		min-height: 0;
	}
}
