.substories-list-substories-poster .drag-drop-item-enable-drag-drop {
	margin: 0 4px;
}

.substories-list-substories-poster-container {
	margin: 0 12px;
	margin-top: calc(24px + 4px);
	margin-bottom: 12px;
	transition: margin-top 0.4s;
}

.substories-list-substories-poster-container:hover {
	margin-top: 16px;
}

.substories-list-substories-poster-placeholder {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 4px 12px;
	margin-top: calc(24px + 4px);
	margin-bottom: calc(12px - 4px + 46px + 12px + 19px + 12px);
	border: 5px solid var(--colour-accent);
	border-color: var(--substoryColour);
	border-radius: 6px;

	width: 340px;
	height: 510px;

	background: var(--colour-grey-one);
	box-shadow: 0 0 20px transparent;
	cursor: pointer;
	animation: substories-list-substories-poster-placeholder 3s infinite;
}

@keyframes substories-list-substories-poster-placeholder {
	0% {
		border-color: var(--colour-grey-one);
		background: var(--colour-grey-one);
	}
	15%,
	55% {
		border-color: var(--colour-grey-three);
		background: var(--colour-grey-two);
	}
	88%,
	100% {
		border-color: var(--colour-grey-one);
		background: var(--colour-grey-one);
	}
}

.substories-list-substories-poster {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	border: 5px solid var(--colour-accent);
	border-color: var(--substoryColour);
	border-radius: 6px;

	width: 340px;
	height: 510px;

	background: var(--colour-grey-one);
	box-shadow: 0 0 20px transparent;
	transition: 0.3s;
	cursor: pointer;
}

.substories-list-substories-poster-container:hover .substories-list-substories-poster {
	box-shadow: 0 0 20px var(--substoryColour);
}

.drag-drop-item-enable-drag-drop .substories-list-substories-poster {
	animation: wiggle-medium infinite 0.75s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even) .substories-list-substories-poster {
	animation-delay: 0.1s;
}

.substories-list-substories-poster-content {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

.substories-list-substories-poster-content-title-container {
	position: absolute;
	top: 394px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: calc(100% - 394px - 12px);
}

.substories-list-substories-poster-content-title-container-with-story-title {
	top: 385px;
	height: calc(100% - 385px - 12px);
}

.substories-list-substories-poster-content-title-story,
.substories-list-substories-poster-content-title-substory {
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Palatino Linotype", sans-serif;
	color: #fff;
	letter-spacing: 5px;
	word-spacing: 1px;
}

.substories-list-substories-poster-content-title-substory {
	font-size: 36px;
}

.substories-list-substories-poster-content-title-story {
	font-size: 28px;
}

.substories-list-substories-poster-content-title-container-with-story-title .substories-list-substories-poster-content-title-substory {
	font-size: 24px;
}

.substories-list-substories-poster-number-container {
	position: relative;
	margin-top: calc(12px - 4px);
	width: 100%;
	height: 46px;
}

.substories-list-substories-poster-number-container-placeholder {
	height: 12px;
}

.substories-list-substories-poster-number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: var(--text-colour-secondary);
	transition: 0.3s;
}

.substories-list-substories-poster-container:hover .substories-list-substories-poster-number {
	color: var(--textPrimaryColour);
	text-shadow: 0 0 12px var(--substoryColour), 0 0 12px var(--substoryColour), 0 0 12px var(--substoryColour), 0 0 12px var(--substoryColour),
		0 0 12px var(--substoryColour), 0 0 12px var(--substoryColour), 0 0 12px var(--substoryColour);
}

.substories-list-substories-poster-number-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 46px;
	height: 46px;
	filter: invert(1);
	opacity: 0.4;
	transition: 0.3s;
}

.theme-light .substories-list-substories-poster-number-background {
	filter: invert(0);
}

.substories-list-substories-poster-container:hover .substories-list-substories-poster-number-background {
	opacity: 0.6;
}

.substories-list-substories-poster-number-background img {
	width: 100%;
	height: 100%;
}

.substories-list-substories-poster-title-container {
	margin-top: 12px;
	text-align: center;
	font-size: 15px;
	transition: 0.3s;
}

.substories-list-substories-poster-container:hover .substories-list-substories-poster-title-container {
	text-shadow: 0 0 12px var(--substoryColour), 0 0 12px var(--substoryColour), 0 0 12px var(--substoryColour);
}

.substories-list-substories-poster-background-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	width: 100%;
	height: 100%;
}

.substories-list-substories-poster-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 950px) {
	.substories-list-substories-poster-container {
		margin-left: 4px;
		margin-right: 4px;
	}

	.substories-list-substories-poster-placeholder,
	.substories-list-substories-poster {
		border-width: 4px;
		width: 226px;
		height: 340px;
	}

	.substories-list-substories-poster-placeholder {
		margin: 8px 4px;
		margin-top: calc(24px + 4px);
		margin-bottom: calc(12px - 4px + 46px + 12px + 19px + 12px);
	}

	.substories-list-substories-poster-content-title-container {
		top: 266px;
		height: calc(100% - 266px - 12px);
	}

	.substories-list-substories-poster-content-title-container-with-story-title {
		top: 257px;
		height: calc(100% - 257px - 12px);
	}

	.substories-list-substories-poster-content-title-substory {
		font-size: 21px;
	}

	.substories-list-substories-poster-content-title-story {
		font-size: 18px;
	}

	.substories-list-substories-poster-content-title-container-with-story-title .substories-list-substories-poster-content-title-substory {
		font-size: 16px;
	}

	.substories-list-substories-poster-number-container {
		margin-top: 4px;
		height: 38px;
	}

	.substories-list-substories-poster-number {
		font-size: 16px;
	}

	.substories-list-substories-poster-number-background {
		width: 38px;
		height: 38px;
	}

	.substories-list-substories-poster-title-container {
		margin-top: 4px;
	}
}
