.character-subpage-psychology-big-five-aspect-container {
	width: 100%;
}

.character-subpage-psychology-big-five-aspect-container:first-child {
	margin-right: 24px;
}

.character-subpage-psychology-big-five-aspect-text-container {
	display: flex;
	align-items: center;
}

.character-subpage-psychology-big-five-aspect-name {
	font-size: var(--fontSizePM);
}

.character-subpage-psychology-big-five-aspect-value-percentile {
	margin-left: auto;
	font-size: var(--fontSizePS);
	font-weight: 600;
}

.character-subpage-psychology-big-five-aspect-value-text {
	text-align: right;
	font-size: var(--fontSizePS);
	font-weight: 500;
}
