.character-subpage-abilities-ability-name-container {
	display: flex;
	align-items: flex-start;
	margin: 8px 0;

	width: fit-content;
}

.character-subpage-abilities-ability-name,
.character-subpage-abilities-ability-name input {
	--text-input-font-size: 18px;
	font-size: 18px;
	font-weight: 600;
}

@media (max-width: 750px) {
	.character-subpage-abilities-ability-name-container {
		margin: 8px 6px;
	}
}
