.character-subpage-physical-attribute-items-title {
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 600;
}

.character-subpage-physical-attribute-items {
	padding-right: 12px;
	width: calc(100% - 12px);
	max-height: calc(var(--characterSubpageMaxHeight) - 24px - 8px);
	overflow-y: overlay;
	overflow-x: hidden;
}

@media (max-width: 750px) {
	.character-subpage-physical-attribute-items-container {
		display: inline-block;
		padding-right: 0;
		width: 100%;
	}

	.character-subpage-physical-attribute-items {
		max-height: none;
	}
}
