.character-subpage-physical-outfit-item-container {
	position: relative;
	margin: 6px 0;
	padding: 8px 0;
	padding-bottom: 10px;
	border-radius: 4px;
}

.character-subpage-physical-outfit-item-container:first-child {
	margin-top: 0;
}

.character-subpage-physical-outfit-item-container:after {
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: "";
	border-radius: 4px;
	width: 100%;
	height: 2px;
	background: var(--grey3);
}

.character-subpage-physical-outfit-item-container:last-child::after {
	display: none;
}

.character-subpage-physical-outfit-item-container:last-child {
	padding-bottom: 8px;
}

.drag-drop-item-enable-drag-drop.character-subpage-physical-outfit-item-container {
	animation: wiggle-very-small infinite 0.7s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).character-subpage-physical-outfit-item-container {
	animation-delay: 0.1s;
}

.character-subpage-physical-outfit-item-content {
	display: inline-block;
	width: calc(100% - 32px);
	vertical-align: top;
}

.character-subpage-physical-outfit-item .multi-line-text-input {
	margin-bottom: -4px;
}

.character-subpage-physical-outfit-item-title {
	margin-bottom: 3px;
}

.character-subpage-physical-outfit-item-title .text-input {
	margin-top: -4px;
}

.character-subpage-physical-outfit-item-title,
.character-subpage-physical-outfit-item-title input {
	font-size: calc(14px * var(--fontSizeMultiplier));
	font-weight: 700;
}

.character-subpage-physical-outfit-item .text-input-container-empty {
	height: 20px;
}

.character-subpage-physical-outfit-item .text-input-container-empty .text-input-title {
	padding-top: 1px;
}

.character-subpage-physical-outfit-item-text {
	min-height: 23px;
}

.character-subpage-physical-outfit-item-btns-container {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	vertical-align: top;
	width: calc(22px + 8px);
	gap: 4px 0;
}

.character-subpage-physical-outfit-item-images {
	display: inline-flex;
	flex-wrap: wrap;
	text-align: left;
	width: 100%;
}

.character-subpage-physical-outfit-item-image-item {
	position: relative;
	margin: 4px;
	width: calc((100% / 3) - 8px);
}

.drag-drop-item-enable-drag-drop .character-subpage-physical-outfit-item-image-item {
	-webkit-user-drag: element;
}

.character-subpage-physical-outfit-item-image-item img {
	width: 100%;
	max-height: max(18vw, 140px);
	object-fit: contain;
}
.character-subpage-physical-outfit-item-image-item-caption {
	padding: 3px 8px;
	border-radius: 4px;
	width: fit-content;
	max-width: calc(100% - 16px);
	word-break: break-word;
	overflow-wrap: anywhere;
	background: var(--grey2);
}

.character-subpage-physical-outfit-item-image-item-caption,
.character-subpage-physical-outfit-item-image-item-caption input {
	font-size: 14px;
	min-height: 20px;
}

.character-subpage-physical-outfit-item-image-item-btns-container {
	position: absolute;
	top: 2px;
	right: 2px;
}
