.character-subpage-physical-outfit-items-container {
	display: inline-block;
	padding-left: 8px;
	width: calc(50% - 8px);
}

.character-subpage-physical-outfit-items-title {
	font-size: 20px;
	font-weight: 700;
}

.character-subpage-physical-outfit-items {
	padding-right: 12px;
	width: calc(100% - 12px);
	max-height: calc(100vh - 48px - 59px - 24px - 36px - 24px - 16px - 24px);
	overflow-y: overlay;
	overflow-x: hidden;
}

@media (max-width: 750px) {
	.character-subpage-physical-outfit-items-container {
		display: inline-block;
		margin-top: 24px;
		padding-left: 0;
		width: 100%;
	}

	.character-subpage-physical-outfit-items {
		max-height: calc(var(--vh) - 70px - (6px + 61px + 12px + 12px) - 36px - 24px - 24px - 38px);
	}
}
