.characters-character-type-name-container {
	width: 100%;
}

.characters-character-type-primary-name {
	margin-top: -1px;
	margin-bottom: 1px;
	width: 100%;
}

.characters-character-type-primary-name,
.characters-character-type-name-container input {
	font-size: 26px;
	font-weight: 700;
}

.characters-character-type-name-container .text-input-container {
	margin-top: -1px;
}

@media (max-width: 950px) {
	.characters-character-type-primary-name {
		font-size: 24px;
	}

	.characters-character-type-name-container input {
		font-size: 24px;
		font-weight: 700;
	}
}
