.notes-list-item-container {
	position: relative;
	margin: 6px 0;
	padding: 8px 0;
	padding-bottom: 10px;
	border-radius: 4px;
}

.notes-list-item-container:first-child {
	margin-top: 0;
}

.notes-list-item-container:after {
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	content: "";
	border-radius: 4px;
	width: 100%;
	height: 2px;
	background: var(--grey4);
}

.notes-list-item-container:last-child::after {
	display: none;
}

.notes-list-item-container:last-child {
	padding-bottom: 8px;
}

.drag-drop-item-enable-drag-drop.notes-list-item-container {
	animation: wiggle-very-small infinite 0.7s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).notes-list-item-container {
	animation-delay: 0.1s;
}

.notes-list-item-content {
	display: inline-block;
	width: calc(100% - 32px);
	vertical-align: top;
}

.notes-list-item .multi-line-text-input {
	margin-bottom: -4px;
}

.notes-list-item-title {
	margin-bottom: 3px;
}

.notes-list-item-title .text-input {
	margin-top: 2px;
}

.notes-list-item-title .text-input-label ~ input {
	margin-top: 2px;
	height: 17px;
}

.notes-list-item-title .text-input-label {
	margin-top: -5px;
	font-size: calc(15px * var(--fontSizeMultiplier));
}

.notes-list-item-title,
.notes-list-item-title input {
	font-size: calc(14px * var(--fontSizeMultiplier));
	font-weight: 700;
}

.notes-list-item .text-input-container-empty {
	margin-top: 3px;
	margin-bottom: 4px;
	height: 17px;
}

.notes-list-item-text {
	min-height: 23px;
}

.notes-list-item-text .multi-line-text-input-label {
	font-size: calc(15px * var(--fontSizeMultiplier));
}

.notes-list-item-images-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.notes-list-item-images-add-container {
	width: 100%;
	text-align: center;
}

.notes-list-item-image-item {
	position: relative;
	margin: 4px;
	width: calc((100% / 3) - 8px);
}

.drag-drop-item-enable-drag-drop .notes-list-item-image-item {
	-webkit-user-drag: element;
}

.notes-list-item-image-item img {
	width: 100%;
	max-height: max(18vw, 250px);
	object-fit: contain;
}

.notes-list-item-buttons-container {
	display: inline-flex;
	flex-direction: column;
}

.notes-list-item-add-image-input {
	display: none;
}
