.character-image-item-container {
	margin: 4px;
	width: calc(100% / 4 - 8px);
}

.drag-drop-item-enable-drag-drop.character-image-item-container {
	animation: wiggle-large infinite 0.5s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).character-image-item-container {
	animation-delay: 0.1s;
}

.character-image-item {
	position: relative;
	width: 100%;
}

.character-image-item-image {
	width: 100%;
}

.character-image-item-image img {
	width: 100%;
	max-height: max(18vw, 250px);
	object-fit: contain;
}

.character-image-item-btns-container {
	position: absolute;
	top: 2px;
	right: 2px;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1200px) {
	.character-image-item-container {
		margin: 4px;
		width: calc(100% / 3 - 8px);
	}
}

@media (max-width: 900px) {
	.character-image-item-container {
		margin: 4px;
		width: calc(50% - 8px);
	}
}
