.character-primary-version-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}

.character-primary-version {
	display: flex;
	flex-direction: column;
	margin: 0 12px;

	min-width: 100px;
	width: 120px;
	max-width: 224px;
	max-height: 72px;
	overflow: hidden;

	text-align: left;
}

.character-primary-version-label {
	margin-bottom: -2px;
	min-height: 15px;
	font-size: 12px;
	font-weight: 400;
}

.character-primary-version-title {
	min-height: 17px;
	font-size: 14px;
	font-weight: 700;
}

.character-primary-version-width-element {
	position: absolute;
	top: 0;
	z-index: -2;
	visibility: hidden;
	opacity: 0;
	transition: 0;
	pointer-events: none;
}

@media (max-width: 700px) {
	.character-primary-version-container {
		position: fixed;
		top: 6px;
		right: 6px;
		min-height: 39px;
	}

	.character-primary-version {
		width: 80px;
		max-width: 80px;
	}
}
