.characters-groups {
	flex-shrink: 0;
	display: inline-block;
	border-radius: 4px;
	width: 280px;
	vertical-align: top;
}

.characters-groups-primary {
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.characters-groups-primary-title {
	margin-top: -1px;
	font-size: 28px;
	font-weight: 700;
	vertical-align: middle;
}

.characters-groups-primary-modify-buttons-container {
	margin-left: auto;
}

.characters-groups-primary-modify-btn {
	position: relative;
	display: inline-block;
	margin: 0 4px;
	padding: 0;
	border: 0;
	border-radius: 100%;

	width: 40px;
	height: 40px;

	background: var(--accentColour);
	color: #fff;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	transition: 0.2s;
	cursor: pointer;
}

.characters-groups-primary-modify-btn:hover {
	background: var(--accentHoverColour);
}

.characters-groups-primary-modify-btn:last-child {
	margin-right: 0;
}

.characters-groups-primary-modify-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.characters-groups-primary-modify-btn-reorder-groups {
	font-size: 24px;
}

.characters-groups-group-item {
	display: block;
	margin: 6px 0;
	padding: 10px 16px;
	border: 0;
	border-radius: 32px;

	width: 100%;

	background: var(--grey3);
	color: #fff;
	font-size: 15px;
	text-align: left;
	transition: 0.2s;
	cursor: pointer;
}

.characters-groups-group-item:hover {
	background: var(--grey4);
}

.characters-groups-group-item-active {
	background: var(--accentColour);
}

.characters-groups-group-item-active:hover {
	background: var(--accentHoverColour);
}

@media (max-width: 950px) {
	.characters-groups {
		width: 100%;
	}

	.characters-groups-title {
		font-size: 24px;
	}
}
