.substory-subpage-plot-clusters-container {
	display: inline-block;
	margin-right: 24px;

	width: 272px;

	vertical-align: top;
}

.substory-subpage-plot-clusters {
	padding-right: 12px;
	max-height: calc(var(--vh) - var(--substoryPrimaryPaddingTop) - 36px - 24px - 6px);
	overflow-y: overlay;
	overflow-x: hidden;
}

.substory-subpage-plot-clusters-list-item-container .btn-list-item-active,
.substory-subpage-plot-clusters-list-item-container .btn-list-item-active:hover {
	background: var(--substoryColour);
	border-color: var(--substoryColour);
	color: #fff;
}

.drag-drop-item-enable-drag-drop.substory-subpage-plot-clusters-list-item-container .btn-list-item {
	animation: wiggle-medium infinite 0.5s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).substory-subpage-plot-clusters-list-item-container .btn-list-item {
	animation-delay: 0.1s;
}

@media (max-width: 1200px) {
	.substory-subpage-plot-clusters-container {
		position: absolute;
		z-index: 1000;
		background: var(--grey1);
		top: 51px;
		margin-right: 0;
		padding: 0;
		width: 100%;
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: 0.2s;
	}

	.substory-subpage-plot-clusters-container-displaying {
		height: calc(var(--vh) - var(--substoryPrimaryPaddingTop) - 36px - 6px - 29px);
		opacity: 1;
	}

	.substory-subpage-plot-clusters {
		max-height: calc(var(--vh) - var(--substoryPrimaryPaddingTop) - 36px - 6px - 51px - 76px);
	}
}
