.character-subpage-psychology-section-2 {
	margin: 24px 0;
}

@media (max-width: 1100px) {
	.character-subpage-psychology-section-1,
	.character-subpage-psychology-section-2 {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.character-subpage-psychology-section-2 {
		margin: 24px 0;
	}
}
