.unit-page-subpage-events-item-container {
	margin: 12px 0;
}

.unit-page-subpage-events-item-container:first-child,
.unit-page-subpage-events-item-container:first-child .content-item {
	margin-top: 0;
}

.unit-page-subpage-events-item-container .content-item {
	margin-left: 0;
	margin-right: 0;
	padding-right: 8px;
}

.unit-page-subpage-events-item-has-single-line-text .content-item {
	padding-bottom: 8px;
}

.unit-page-subpage-events-item-container:last-child {
	padding-bottom: calc(var(--vh) * 0.5);
}

.unit-page-subpage-events-items-container.editable-container-is-editing .unit-page-subpage-events-items > :nth-last-child(2) {
	padding-bottom: calc(var(--vh) * 0.5 + 48px);
}

.drag-drop-item-enable-drag-drop.unit-page-subpage-events-item-container {
	animation: wiggle-very-small infinite 0.5s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).unit-page-subpage-events-item-container {
	animation-delay: 0.1s;
}

.unit-page-subpage-events-item-content {
	display: inline-block;
	width: calc(100% - 32px);
	vertical-align: top;
}

.unit-page-subpage-events-item-text-container {
	display: inline-block;
	margin-right: 12px;
	width: calc(55% - 12px);
	vertical-align: top;
}

.unit-page-subpage-events-item-text-container-full-width {
	margin-right: 0;
	width: 100%;
}

.unit-page-subpage-events-item-text-container-no-width {
	display: none !important;
}

.unit-page-subpage-events-item-images-container {
	display: inline-block;
	padding: 2px;
	border-radius: 2px;
	width: calc(45% - 4px);
	vertical-align: top;
}

.unit-page-subpage-events-item-images-container-full-width {
	width: calc(100% - 4px);
}

.unit-page-subpage-events-item-images-container-no-width {
	display: none !important;
}

.unit-page-subpage-events-item-images-container-is-current {
	animation: unit-page-subpage-events-item-images-container-is-current 1.5s infinite linear;
}

@keyframes unit-page-subpage-events-item-images-container-is-current {
	0%,
	100% {
		background: var(--colour-grey-one);
	}
	35%,
	65% {
		background: var(--colour-grey-three);
	}
}

.unit-page-subpage-events-item-images {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
}

.unit-page-subpage-events-item-image-item {
	position: relative;
	margin: 4px;
	width: calc((100% / 3) - 8px);
}

.drag-drop-item-enable-drag-drop .unit-page-subpage-events-item-image-item {
	-webkit-user-drag: element;
}

.unit-page-subpage-events-item-image-item img {
	width: 100%;
	max-height: max(18vw, 250px);
	object-fit: contain;
}

.unit-page-subpage-events-item-image-item-placeholder {
	position: relative;
	min-height: 200px;
}

.unit-page-subpage-events-item .multi-line-text-input {
	margin-bottom: -4px;
}

.unit-page-subpage-events-item-title {
	word-break: break-word;
	overflow-wrap: anywhere;
}

.unit-page-subpage-events-item-title .text-input {
	margin-top: -4px;
}

.unit-page-subpage-events-item-title,
.unit-page-subpage-events-item-title input {
	font-size: var(--font-size-p-m);
	font-weight: 600;
}

.unit-page-subpage-events-item .text-input-container-empty {
	height: var(--font-size-p-m-height);
}

.unit-page-subpage-events-item-text {
	min-height: var(--font-size-p-m-height);
}

.unit-page-subpage-events-item-image-item-caption {
	padding: 3px 8px;
	border-radius: 4px;
	width: fit-content;
	max-width: calc(100% - 16px);
	word-break: break-word;
	overflow-wrap: anywhere;
	background: var(--colour-grey-three);
}

.unit-page-subpage-events-item-image-item-caption,
.unit-page-subpage-events-item-image-item-caption input {
	font-size: 14px;
	min-height: 20px;
}

.unit-page-subpage-events-item-image-item-btns-container {
	position: absolute;
	top: 2px;
	right: 2px;
}

.unit-page-subpage-events-item-buttons-container {
	display: inline-flex;
	flex-direction: column;
	width: 32px;
	gap: 8px 0;
}

@media (max-width: 1000px) {
	.unit-page-subpage-events-item-container {
		margin: 6px 0;
		width: 100%;
	}

	.unit-page-subpage-events-item-text-container {
		display: inline-block;
		margin-right: 0;
		width: 100%;
	}

	.unit-page-subpage-events-item-images-container {
		display: inline-block;
		margin-top: 12px;
		padding: 2px;
		border-radius: 2px;
		width: calc(100% - 4px);
		vertical-align: top;
	}

	.unit-page-subpage-events-item-image-item {
		width: calc((100% / 2) - 8px);
	}
}
