.unit-page-subpage-events-items {
	display: inline-block;
	flex-flow: column wrap;
	width: 100%;
}

@media (max-width: 750px) {
	.unit-page-subpage-events-items {
		height: calc(var(--unitPageSubpageMaxHeight) - 4px);
	}
}
