.icon-btn-container {
	position: relative;
	display: inline-block;
	margin: 4px;
	overflow: visible;
}

.icon-btn-container-hidden {
	display: none;
}

.icon-btn {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 100%;

	min-width: 40px;
	width: 40px;
	min-height: 40px;
	height: 40px;
	overflow: visible;

	background: var(--accentColour);
	color: #fff;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
	transition: background 0.2s;
	transition: color 0.2s;
	cursor: pointer;
}

.icon-btn:hover {
	background: var(--accentHoverColour);
	color: #fff;
}

.icon-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 55%;
}

.icon-btn-container-seamless .icon-btn {
	min-width: 24px;
	width: 24px;
	min-height: 24px;
	height: 24px;
	background: transparent;
}

.icon-btn-container-seamless .icon-btn:hover {
	background: transparent;
	color: var(--accentColour);
}

.icon-btn-container-seamless.icon-btn-container-large .icon-btn {
	min-width: 32px;
	width: 32px;
	min-height: 32px;
	height: 32px;
}

.icon-btn-container-seamless.icon-btn-container-small .icon-btn {
	min-width: 18px;
	width: 18px;
	min-height: 18px;
	height: 18px;
}

.icon-btn-container-plus-icon svg {
	width: 50%;
}

.icon-btn-container-sort-icon svg {
	width: 43%;
}

.icon-btn-container-trash-icon svg {
	width: 50%;
}

.icon-btn-container-seamless svg {
	width: 75%;
}

.icon-btn-container-seamless.icon-btn-container-user-plus-icon svg {
	width: 100%;
}

.icon-btn-container-seamless.icon-btn-container-times-icon svg {
	width: 72%;
}

.icon-btn-small-icon-container {
	position: absolute;
	z-index: 2;
	top: -2px;
	right: -3px;
	width: 16px;
	height: 16px;
	color: #fff;
}

.icon-btn-small-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 16px;
	height: 16px;
	color: #fff;
	transition: background 0.2s;
	transition: color 0.2s;
}

.icon-btn-small-icon-bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 24px;
	height: 24px;
	color: var(--grey1);
}

.icon-btn-container-seamless .icon-btn:hover .icon-btn-small-icon {
	background: transparent;
	color: var(--accentColour);
}

.icon-btn-label {
	position: absolute;
	left: 0;
	z-index: 200;

	margin-top: 8px;
	margin-left: -20px;
	margin-right: 6px;
	padding: 8px;
	border-radius: 4px;

	width: min-content;
	max-width: 120px;

	background: var(--grey2);
	font-size: 15px;
	word-wrap: break-word;
	pointer-events: none;
	user-select: none;
	opacity: 0;
	transition: opacity 0.2s;
	transition-delay: 0.1;
}

.icon-btn-container:hover .icon-btn-label {
	transition-delay: 0.3s;
	opacity: 1;
}

@media (max-width: 700px) {
	.icon-btn-container-large .icon-btn-label {
		margin-top: 16px;
	}
}
