.content-item {
	box-sizing: border-box;
}

.content-item-loading {
	opacity: 0;
}

.content-item-w-bg {
	margin: 8px;
	padding: 12px 24px;
	border-radius: 8px;
	background: var(--grey2);
}

.content-item-w-bg.content-item-size-s {
	padding: 4px 8px;
}

.content-item-w-bg.content-item-size-m {
	padding: 10px 20px;
}

.content-item-w-bg.content-item-size-l {
	padding: 12px 24px;
}
