.character-primary-container {
	position: absolute;
	z-index: 10;
	margin: 0;
	margin-bottom: 10px;
	padding: 0 24px;
	padding-top: calc(28px + 4px * 2);
	width: calc(100vw - var(--navbar-width) - 48px);
	height: 59px;
	align-items: center;
}

.character-primary {
	position: relative;
	display: flex;
}

.character-primary-story {
	position: fixed;
	top: 6px;
	display: flex;
	align-items: center;

	width: max-content;
	height: 32px;
}

.character-primary-story-icon {
	margin-right: 12px;
	border-radius: 100%;
	width: 28px;
	height: 28px;
}

.character-primary-story-icon img {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.character-primary-story-name {
	width: max-content;
	font-size: 14px;

	color: var(--text-colour-primary);
}

.character-primary-name-and-type-container {
	display: flex;
}

.character-primary-section-switcher-btn {
	position: relative;
	display: none;
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	color: var(--text-colour-primary);
	font-size: 32px;
	width: 17px;
	height: 32px;
	animation: none;
}

.character-primary-section-switcher-btn-to-subpages {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.character-primary-section-switcher-btn svg {
	position: absolute;
	top: 50%;
	left: -8px;
	transform: translateY(-50%);
}

@media (max-width: 750px) {
	.character-primary-container {
		margin: 6px 0;
		margin-bottom: 12px;
		padding: 0 6px;
		width: calc(100vw - 12px);
		height: fit-content;
	}

	.character-primary {
		display: inline-flex;
		align-items: flex-start;
		flex-direction: column;
		width: calc(100% - 17px - 10px);
		vertical-align: middle;
	}

	.character-primary-name-and-story-container {
		width: 100%;
	}

	.character-primary-story {
		display: none;
	}

	.character-primary-name-and-type-container {
		flex-direction: column;
		min-width: 50vw;
		width: max-content;
	}

	.character-primary-section-switcher-btn {
		display: inline-block;
		width: 0;
		max-width: 0;
		opacity: 0;
		pointer-events: none;
		transition: 0.3s linear;
		vertical-align: middle;
	}

	.character-container-is-on-subpages .character-primary-section-switcher-btn-to-overview {
		display: inline-block;
		margin-right: 10px;
		animation: character-primary-section-switcher-btn 0.3s 1 linear;
		animation-fill-mode: forwards;
	}

	.character-container-is-on-overview .character-primary-section-switcher-btn-to-subpages {
		display: inline-block;
		margin-left: 10px;
		animation: character-primary-section-switcher-btn 0.3s 1 linear;
		animation-fill-mode: forwards;
	}

	@keyframes character-primary-section-switcher-btn {
		0% {
			width: 0;
			opacity: 0;
		}
		100% {
			width: 17px;
			max-width: 17px;
			opacity: 1;
			pointer-events: all;
		}
	}
}
