.character-subpage-biography-cluster {
	display: inline-block;
	padding-right: 12px;
	width: calc(100% - 310px - 24px - 12px);
	max-height: calc(var(--vh) - var(--characterPaddingTop) - 32px - 4px - 12px - 12px);
	overflow-y: overlay;
	overflow-x: hidden;
	vertical-align: top;
}

@media (max-width: 700px) {
	.character-subpage-biography-cluster {
		width: 100%;
		max-height: calc(var(--vh) - var(--navbarMobileHeight) - var(--characterPaddingTop) - 32px - 4px - 12px - 12px - 48px);
	}
}
