.character-subpage-biography-cluster {
	display: inline-block;
	padding-right: 8px;
	width: calc(100% - 310px - 24px - 8px);
	max-height: calc(var(--vh) - var(--characterPaddingTop) - 32px - 4px - 24px);
	overflow-y: overlay;
	overflow-x: hidden;
	vertical-align: top;
}

@media (max-width: 750px) {
	.character-subpage-biography-cluster {
		width: calc(100% - 8px);
		max-height: calc(var(--vh) - var(--navbarMobileHeight) - var(--characterPaddingTop) - 32px - 4px - 8px - 48px);
	}
}
