.substory-overview-description-container {
	width: 100%;
}

.substory-overview-description {
	margin: 0;
	padding: 8px 12px;
	border-radius: 8px;
	width: calc(100% - 24px);
	background: linear-gradient(0deg, var(--substoryColour), var(--substoryColourTint));
	color: #fff;
	text-align: left;
}

.substory-overview-description-label {
	font-size: 13px;
	font-weight: 400;
}
