.search-results-list-item {
	display: flex;
	align-items: center;
	content: "";
	margin: 4px 0;
	padding: 0 12px;
	border: 2px solid var(--grey5);
	border-radius: 16px;
	outline: 0;
	width: 100%;
	height: 60px;
	background: var(--grey2);
	transition: 0.2s;
	cursor: pointer;
	user-select: none;
	color: #fff;
}

.search-results-list-item:first-child {
	margin-top: 0;
}

.search-results-list-item:hover,
.search-results-list-item:focus {
	outline: 0;
	border: 2px solid var(--blue);
	background: var(--grey2);
}

.search-results-list-item-icon {
	display: block;
	content: "";
	border-radius: 100%;

	--iconWidth: 48px;
	min-width: var(--iconWidth);
	width: var(--iconWidth);
	min-height: var(--iconWidth);
	height: var(--iconWidth);

	background: var(--grey4);
	transition: 0.2s;
}

.search-results-list-item-icon img {
	border-radius: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.search-results-list-item:hover .search-results-list-item-icon {
	background: var(--grey5);
}

.search-results-list-item-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 18px;
	text-align: left;
}

.search-results-list-item-nickname,
.search-results-list-item-title {
	font-size: 14px;
	font-weight: 700;
}

.search-results-list-item-username,
.search-results-list-item-owner {
	font-size: 12px;
}
