.home-container {
	position: relative;
	margin: 0 auto;
	padding: 0 24px;
	width: calc(100% - 48px);
	max-width: 1550px;
}

.home-content {
	position: relative;
	top: calc(12px + 42px + 24px);
	left: 8px;
	width: calc(100% - 16px);
}

@media (max-width: 750px) {
	.home-container {
		padding: 0 6px;
		width: calc(100% - 12px);
	}

	.home-content {
		top: calc(12px + 42px + 12px);
		left: 0;
		width: 100%;
	}
}
