.story-settings-members-container {
	margin-top: 12px !important;
}

.story-settings-members-loading-container {
	margin: 8px 0;
	height: 50px;
}

.story-settings-members-list-container {
	padding: 0 6px;
	max-height: 336px;
	overflow-y: scroll;
	margin-left: -12px;
	width: calc(100% + 12px);
}

.story-settings-members-users-search-container {
	margin-left: -6px;
	width: calc(100% + 6px);
}

@media (max-width: 750px) {
	.story-settings-members-list-container {
		padding: 0;
		margin-left: 0;
		width: calc(100% + 6px);
	}

	.story-settings-members-users-search-container {
		margin-left: 0;
		width: 100%;
	}
}
