.loading-circle-container {
	--loadingCircleColour: var(--textSecondaryColour);
}

.loading-circle-container-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-circle-container:not(.loading-circle-container-centered) {
	position: relative;
}

.loading-circle {
	width: 48px;
	height: 48px;
	vertical-align: middle;
	animation: loading-circle-spin infinite 1s linear;
}

@keyframes loading-circle-spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-circle-small-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loading-circle-small {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	animation: loading-circle-small-spin infinite 0.8s linear;
}

@keyframes loading-circle-small-spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-180deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.loading-circle-container-small .loading-circle {
	width: 30px;
	height: 30px;
}

.loading-circle-container-small .loading-circle-small {
	width: 14px;
	height: 14px;
}

.loading-circle-container-large .loading-circle {
	width: 64px;
	height: 64px;
}

.loading-circle-container-large .loading-circle-small {
	width: 30px;
	height: 30px;
}

.loading-circle-circle {
	border: 3px solid var(--loadingCircleColour);
	border-bottom: 0;
	border-radius: 32px 32px 0 0;

	width: calc(100% - (3px * 2));
	height: 50%;

	background: transparent;
}

.loading-circle-container-small .loading-circle-circle {
	border: 2px solid var(--loadingCircleColour);
	border-bottom: 0;

	width: calc(100% - (2px * 2));
}

.loading-circle-container-large .loading-circle-circle {
	border: 4px solid var(--loadingCircleColour);
	border-bottom: 0;

	width: calc(100% - (4px * 2));
}
