.character-subpages-btns-container {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
	width: 100%;
}

.character-subpages-btns {
	display: flex;
	align-items: center;
	width: calc(100% - 28px - 28px);
	overflow-y: hidden;
	overflow-x: overlay;
	scroll-behavior: smooth;
}

.character-subpages-btns::-webkit-scrollbar {
	height: 0;
}

.character-subpages-btn {
	flex-shrink: 0;
	margin: 0 4px;
	border-radius: 32px;

	min-width: fit-content;
	width: calc((100% / 8) - 8px);
}

.character-subpages-btn .btn-list-item-value {
	font-size: 13px;
}

.character-subpages-btns-is-authorized .character-subpages-btn {
	width: calc((100% / 9) - 8px);
}

.character-subpages-btn.btn-list-item-active,
.character-subpages-btn.btn-list-item-active:hover {
	background: var(--characterColour);
	border-color: var(--characterColour);
	color: #fff;
}
