.navigation-bar {
	position: relative;
	display: inline-block;
	width: var(--navbarWidth);
	height: 100%;
	background: var(--grey1);
}

.navigation-bar-section-container {
	margin: 5px;
	margin-right: 0;
	width: calc(100% - 10px);
	text-align: center;
}

.navigation-bar-primary-buttons-container {
	margin-top: 24px;
}

.navigation-bar-story-buttons-container {
	margin-top: 48px;
}

.navigation-bar-story-btn-container {
	position: relative;
}

.navigation-bar-btn {
	position: relative;
	display: inline-block;
	margin: 8px auto;
	padding: 0;
	border: 2px solid var(--grey2);
	border: 0;
	border-radius: 18px;

	width: 44px;
	height: 44px;

	background: #00000000;
	color: var(--accentColour);
	font-size: 22px;
	text-align: center;
	transition: 0.2s;
	cursor: pointer;
}

.navigation-bar-btn img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0;
	border-radius: inherit;
	min-width: 100%;
	width: 100%;
	min-height: 100%;
	height: 100%;
	object-fit: cover;
}

.navigation-bar-btn:hover,
.navigation-bar-btn:hover img {
	background: var(--grey3);
}

.navigation-bar-btn::before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: -12px;
	transform: translateY(-50%);
	width: 3px;
	height: 28px;
	transition: 0.2s;
}

.navigation-bar-btn:hover::before {
	background: var(--grey3);
}

.navigation-bar-btn-active,
.navigation-bar-btn-active img {
	background: var(--grey2);
}

.navigation-bar-btn-active:hover,
.navigation-bar-btn-active:hover img {
	color: var(--accentColour);
}

.navigation-bar-btn-active::before {
	background: var(--blue) !important;
}

.navigation-bar-story-buttons-container .navigation-bar-btn-active::before {
	background: var(--accentColour) !important;
}

.navigation-bar-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.navigation-bar-btn-user-placeholder {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	background: var(--grey3);
}

.navigation-bar-story-btn-label {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: calc(51px + 8px);
	transform: translateY(-50%);
	padding: 8px;
	padding-right: 16px;
	border-radius: 5px;

	width: max-content;
	max-width: 120px;
	overflow-y: visible;

	background: var(--grey3);
	font-size: 14px;
	font-weight: 700;
	pointer-events: none;
	transition: 0.2s;
	transition-delay: 0s;
	opacity: 0;
}

.navigation-bar-story-btn-container:hover .navigation-bar-story-btn-label {
	opacity: 1;
	transition-delay: 1s;
}

@media (max-width: 750px) {
	.navigation-bar {
		order: 1;
		height: var(--navbarMobileHeight);
		width: 100vw;
	}

	.navigation-bar-primary-buttons-container,
	.navigation-bar-story-buttons-container {
		display: inline-flex;
		margin-top: 0;
		margin-right: 0;
		padding: 0 4px;
		align-items: center;
		width: fit-content;
		vertical-align: middle;
	}

	.navigation-bar-btn {
		margin: 6px;
		width: 44px;
		height: 44px;
		vertical-align: middle;
	}

	.navigation-bar-btn::before {
		top: 48px;
		left: 50%;
		transform: translate(-50%, 0%);
		width: 28px;
		height: 3px;
	}

	.navigation-bar-story-btn-label {
		display: none;
	}
}
