@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palatino+Linotype&display=swap");

:root {
	--blue: #0044ff;
	--blue2: #0088ff;
	--blue3: #00aaff;
	--red: #cc0000;
	--red2: #ee4400;
	--green: #00ff44;
	--lightgreen: #00ffaa;
	--fontSizeMultiplier: 1;
}

.theme-dark {
	--grey1: #000000;
	--grey1point5: #09090e;
	--grey2: #15151a;
	--grey2point5: #1d1d23;
	--grey3: #2b2b31;
	--grey4: #404047;
	--textColour: #ffffff;
}

.theme-light {
	--grey1: #ffffff;
	--grey1point5: #eaeaef;
	--grey2: #e6e6e8;
	--grey2point5: #dddddf;
	--grey3: #d0d0d4;
	--grey4: #c3c3c8;
	--textColour: #000000;
}

html,
#root {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 100%;
	overflow: hidden;

	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input {
	font-family: "Inter", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
	font-family: inherit;
}

button:focus {
	outline: 0;
}

img {
	user-select: none;
}

.App {
	position: relative;
	z-index: 1;

	width: 100vw;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;

	background: var(--grey1);
	color: var(--textColour);
}

::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--blue);
}

@keyframes wiggle-very-small {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0.2deg);
	}
	75% {
		transform: rotate(-0.2deg);
	}
}

@keyframes wiggle-small {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0.4deg);
	}
	75% {
		transform: rotate(-0.4deg);
	}
}

@keyframes wiggle-medium {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(0.7deg);
	}
	75% {
		transform: rotate(-0.7deg);
	}
}

@keyframes wiggle-large {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(1deg);
	}
	75% {
		transform: rotate(-1deg);
	}
}

.lightbox-openable-image {
	cursor: pointer;
	transition: opacity 0.2s;
}

.lightbox-openable-image:hover {
	opacity: 0.8;
}
