.story-primary-follow-btn {
	margin-left: 24px;
	border: 0;
	border-radius: 32px;

	width: 96px;
	height: 36px;

	background: var(--grey3);
	color: #fff;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	transition: 0.1s;
}

.story-primary-follow-btn:hover {
	background: var(--grey4);
}

.story-primary-is-authorized .story-primary-follow-btn {
	margin-left: 12px;
}

.story-primary-follow-btn-is-following {
	background: var(--storyColour);
	color: #fff;
}

.story-primary-follow-btn-is-following:hover {
	background: var(--red);
	color: #fff;
}

.story-primary-follow-btn-is-following .story-primary-follow-btn-text-follow {
	display: none;
}

.story-primary-follow-btn-text-following {
	display: none;
}

.story-primary-follow-btn-is-following .story-primary-follow-btn-text-following {
	display: block;
}

.story-primary-follow-btn-is-following:hover .story-primary-follow-btn-text-following {
	display: none;
}

.story-primary-follow-btn-text-unfollow {
	display: none;
}

.story-primary-follow-btn-is-following:hover .story-primary-follow-btn-text-unfollow {
	display: block;
}

@media (max-width: 750px) {
	.story-primary-follow-btn {
		margin-left: 0px;
		font-size: 14px;
	}

	.story-primary-is-authorized .story-primary-follow-btn {
		margin-left: 0px;
	}

	.story-primary-follow-btn-is-following:hover {
		background: var(--storyColour);
		color: #fff;
	}

	.story-primary-follow-btn-is-following:hover .story-primary-follow-btn-text-following {
		display: block;
	}

	.story-primary-follow-btn-is-following:hover .story-primary-follow-btn-text-unfollow {
		display: none;
	}
}
