.unit-page-subpage-abilities-ability {
	display: inline-block;
	padding-right: 8px;

	width: calc(100% - 310px - 24px - 8px);
	overflow-y: overlay;
	overflow-x: hidden;
	vertical-align: top;
}

@media (max-width: 750px) {
	.unit-page-subpage-abilities-ability {
		padding-right: 8px;
		width: calc(100% - 8px);
	}
}
