.character-subpage-biography-cluster {
	display: inline-block;
	padding-right: 8px;
	width: calc(100% - 310px - 24px - 8px);
	height: var(--characterSubpageMaxHeight);
	overflow-y: overlay;
	overflow-x: hidden;
	vertical-align: top;
}

@media (max-width: 750px) {
	.character-subpage-biography-cluster {
		width: calc(100% - 8px);
		height: calc(var(--characterSubpageMaxHeight) - 48px);
	}
}
