.story-primary-character-card-container {
	margin-left: -115px;
	transition: margin 0.4s;
}

.story-primary-character-card-container:first-child {
	margin-left: 0;
}

.story-primary-character-card-container:last-child {
	margin-right: 0;
}

.story-primary-character-card-container:hover + .story-primary-character-card-container {
	margin-left: 4px;
}

.story-primary-characters-cards-container .drag-drop-item-enable-drag-drop {
	margin: 0 4px;
}

.story-primary-character-card-placeholder {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 4px;
	margin-bottom: 0;
	border: 5px solid var(--accentColour);
	border-color: var(--grey2);
	border-radius: 16px;

	width: 305px;
	height: 420px;

	background: var(--grey1);
	transition: margin 0.4s;
	cursor: pointer;
	animation: story-primary-character-card-placeholder 1.5s infinite;
}

@keyframes story-primary-character-card-placeholder {
	0% {
		border-color: var(--grey2);
		background: var(--grey2);
	}
	15%,
	55% {
		border-color: var(--grey4);
		background: var(--grey3);
	}
	88%,
	100% {
		border-color: var(--grey2);
		background: var(--grey2);
	}
}

.story-primary-character-card {
	flex-shrink: 0;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 4px;
	border: 5px solid var(--accentColour);
	border-color: var(--characterColour);
	border-radius: 16px;

	width: 305px;
	height: 420px;

	background: var(--grey1);
	transition: margin 0.4s;
	cursor: pointer;
}

.drag-drop-item-enable-drag-drop .story-primary-character-card {
	animation: wiggle-medium infinite 0.5s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even) .story-primary-character-card {
	animation-delay: 0.1s;
}

.story-primary-character-card-content {
	position: relative;
	z-index: 1;
	height: 100%;
}

.story-primary-character-card-top-container {
	display: flex;
	align-items: center;
	padding: 12px 20px;
}

.story-primary-character-card-top-name {
	font-size: 24px;
	font-weight: 700;
	color: var(--characterColour);
}

.story-primary-character-card-character-type {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	padding: 6px 12px;
	border-radius: 32px;
	height: fit-content;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
}

.story-primary-character-card-summary-items-container {
	position: absolute;
	top: 224px;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	width: calc(100% - 16px);
	max-height: calc(100% - 224px);
	overflow: hidden;
}

.story-primary-character-card-summary-item {
	margin-bottom: 8px;
	padding: 8px 12px;
	border-radius: 8px;

	width: calc(100% - 24px);

	background: var(--characterColour);
	color: #fff;
	text-align: left;
}

.story-primary-character-card-summary-item-label {
	font-size: 12px;
	font-weight: 400;
}

.story-primary-character-card-summary-item-text {
	font-size: 12px;
	font-weight: 600;
}

.story-primary-character-card-background {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: inherit;

	width: 100%;
	height: 100%;
}

.story-primary-character-card-background img {
	transform: translate(-6px, -5px);

	border: 5px solid var(--accentColour);
	border-color: var(--characterColour);
	border-radius: inherit;

	width: calc(100% + 2px);
	height: 100%;

	object-fit: cover;
	-webkit-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}

@media (max-width: 750px) {
	.story-primary-character-card-container {
		margin-left: -130px;
	}

	.story-primary-character-card,
	.story-primary-character-card-placeholder {
		border-width: 5px;

		width: calc(100vw - 24px - 10px - 24px);
		max-width: min(441px, calc((var(--vh) - var(--navbarMobileHeight) - 8px - 12px - 10px - 24px - 39px - 24px) * (441 / 607)));
		height: calc((100vw - 24px - 10px - 24px) * (607 / 441));
		max-height: min(607px, calc(var(--vh) - var(--navbarMobileHeight) - 8px - 12px - 10px - 24px - 39px - 24px));
	}

	.story-primary-character-card-top-container {
		padding: 8px 12px;
	}

	.story-primary-character-card-top-name {
		font-size: 22px;
	}

	.story-primary-character-card-character-type {
		margin-top: 1px;
		margin-bottom: -1px;
		padding: 6px 10px;
		font-size: 12px;
	}

	.story-primary-character-card-summary-items-container {
		top: 54%;
		max-height: calc(100% - 54% + 1px);
	}

	.story-primary-character-card-summary-item-label {
		font-size: 12px;
	}

	.story-primary-character-card-summary-item-text {
		font-size: 12px;
	}
}
