.character-overview-description-container {
	margin-left: auto;
	width: calc(50% - 180px);
	max-width: 500px;
	height: 100%;
	overflow-y: overlay;
	overflow-x: hidden;
}

.character-overview-description {
	margin: 0;
	padding: 8px 12px;
	border-radius: 8px;
	width: calc(100% - 24px);
	background: var(--characterColour);
	text-align: left;
}

.character-overview-description-label {
	font-size: 13px;
	font-weight: 400;
}

@media (max-width: 1300px) {
	.character-overview-description-container {
		margin: 0 auto;
		width: 100%;
		max-height: unset;
	}
}
