.character-overview {
	flex-shrink: 0;
	display: inline-block;
	padding-left: 24px;
	padding-right: 0;
	width: calc(100vw - 70px - 24px - 24px - 12px - 12px);
	height: 100%;
	overflow-y: overlay;
	vertical-align: top;
}

.character-overview::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.character-overview::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--characterColour);
}

.character-overview-content {
	display: flex;
}

.character-overview-background {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.character-overview-background img {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.character-overview-background-stars {
	position: relative;
	z-index: -2;
}

.character-overview-background-glow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	display: block;
	content: "";

	border-radius: 100%;

	width: calc(100vw - 60px);
	height: calc(100vw - 60px);

	background: radial-gradient(circle at 50% 50%, rgba(0, 68, 255, 0.8), transparent 35%);

	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@media (max-width: 1300px) {
	.character-overview-content {
		margin-top: 50vh;
		flex-direction: column;
	}
}

@media (max-width: 700px) {
	.character-overview {
		padding-left: 6px;
		width: calc(100vw - 24px - 12px - 4px);
	}

	.character-overview-content {
		margin-top: 45vh;
		flex-direction: column;
	}
}
