.character-overview-description-container {
	margin-left: auto;
}

.character-overview-description-container {
	width: 100%;
	max-width: 500px;
	height: 100%;
	max-height: calc(100vh - 12px - 48px - 59px - 48px);
	padding-right: 20px;
	overflow-y: overlay;
	overflow-x: hidden;
}

.character-overview-description-container::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.character-overview-description-container::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--blue);
}

.character-overview-description {
	margin: 0;
	padding: 8px 12px;
	border-radius: 8px;
	width: calc(100% - 24px);
	background: var(--characterColour);
	text-align: left;
}
