.character-subpage-development-items {
	display: inline-block;
	flex-flow: column wrap;
	padding-right: 12px;

	width: calc(100% - 12px);
	max-height: calc(100vh - 48px - 59px - 24px - 36px - 24px - 16px);
	overflow-y: overlay;
	overflow-x: hidden;
}

.character-subpage-development-items-character-images-open {
	width: 80%;
}

.character-subpage-development-items-character-images-open ~ .character-images-container {
	display: inline-block;
}

@media (max-width: 1000px) {
	.character-subpage-development-items-character-images-open {
		width: 100%;
	}
}

@media (max-width: 750px) {
	.character-subpage-development-items {
		max-height: calc(var(--vh) - 70px - (6px + 61px + 12px + 12px) - 36px - 24px - 4px);
	}
}
