.character-subpage-development-items {
	display: inline-block;
	flex-flow: column wrap;
	padding-right: 12px;

	width: calc(100% - 12px);
	max-height: calc(var(--characterSubpageMaxHeight) - 4px);
	overflow-y: overlay;
	overflow-x: hidden;
}

@media (max-width: 750px) {
	.character-subpage-development-items {
		max-height: calc(var(--characterSubpageMaxHeight) - 4px);
	}
}
