.substory-subpage-soundtrack {
	padding-right: 12px;

	width: calc(100% - 12px);
	max-height: calc(var(--vh) - var(--substoryPrimaryPaddingTop) - 36px - 24px - 6px);
	overflow-y: overlay;
	overflow-x: hidden;
}

.substory-subpage-soundtrack::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

.substory-subpage-soundtrack::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: var(--substoryColour);
}

@media (max-width: 700px) {
	.substory-subpage-soundtrack {
		padding-right: 12px;

		width: calc(100% - 12px);
		max-height: calc(var(--vh) - 5px - 58px - 6px - var(--substoryPrimaryPaddingTop) - 36px - 24px - 1px);
		overflow-y: overlay;
		overflow-x: hidden;
	}
}
