.substory-subpage-soundtrack {
	padding-right: 12px;

	width: calc(100% - 12px);
	max-height: calc(var(--vh) - var(--substoryPrimaryPaddingTop) - 36px - 24px - 6px);
	overflow-y: overlay;
	overflow-x: hidden;
}

@media (max-width: 750px) {
	.substory-subpage-soundtrack {
		padding-right: 12px;

		width: calc(100% - 12px);
		max-height: calc(var(--vh) - var(--navbarMobileHeight) - var(--substoryPrimaryPaddingTop) - 36px - 8px);
		overflow-y: overlay;
		overflow-x: hidden;
	}
}
