.character-subpage-biography-cluster-list {
	display: inline-block;
	margin-right: 24px;
	width: 310px;
	vertical-align: top;
}

.character-subpage-biography-cluster-list-items {
	padding-right: 8px;
	max-height: calc(var(--vh) - var(--characterPaddingTop) - 32px - 24px - 4px);
	overflow-y: overlay;
	overflow-x: hidden;
}

.character-subpage-biography-cluster-list-item-container .btn-list-item-active {
	position: relative;
	background: var(--characterColour);
	border-color: var(--characterColour);
	color: #fff;
}

.drag-drop-item-enable-drag-drop.character-subpage-biography-cluster-list-item-container .btn-list-item {
	animation: wiggle-medium infinite 0.5s linear;
}

.drag-drop-item-enable-drag-drop:nth-child(even).character-subpage-biography-cluster-list-item-container .btn-list-item {
	animation-delay: 0.1s;
}

@media (max-width: 750px) {
	.character-subpage-biography-cluster-list {
		margin-right: 0;
		width: 100%;
	}

	.character-subpage-biography-cluster-list-items {
		max-height: calc(var(--vh) - var(--navbarMobileHeight) - (6px + 61px + 12px + 12px) - 36px - 24px - 38px);
	}
}
