.character-primary-name-container {
	align-items: flex-start;
	overflow: visible;
	max-width: calc(100vw - 74px - 48px - 48px - 281px - 180px);
	word-break: break-word;
	overflow-wrap: anywhere;
}

.character-primary-name-container,
.character-primary-name-container input {
	width: fit-content;
	font-size: 48px;
	font-weight: 700;
	transition: 0.5s color;
}

.character-primary-name-container input {
	margin-top: -8px;
}

.character-container-is-on-subpages .character-primary-name-container,
.character-container-is-on-subpages .character-primary-name-container input {
	color: #ffffff;
}

@media (max-width: 700px) {
	.character-primary-name-container {
		margin: 4px 0;
		max-width: calc(100% - 145px);
	}

	.editable-container-is-authorized.character-primary-name-container {
		max-width: calc(100% - 172px);
	}

	.character-primary-name-container,
	.character-primary-name-container input {
		font-size: 30px;
		word-wrap: break-word;
	}

	.editable-container-is-editing.character-primary-name-container {
		margin-top: 3px;
		margin-bottom: 5px;
	}
}
