.character-primary-name-container {
	align-items: flex-start;
	overflow: visible;
	max-width: calc(100vw - 74px - 48px - 48px - 281px - 180px);
	word-break: break-word;
	overflow-wrap: anywhere;
}

.character-primary-name-container,
.character-primary-name,
.character-primary-name input {
	width: fit-content;
	font-size: 40px;
	font-weight: 700;
	transition: 0.5s color;
	color: var(--textColour);
}

.editable-container-is-editing.character-primary-name-container {
	margin-top: -4px;
	margin-bottom: 1px;
}

@media (max-width: 750px) {
	.character-primary-name-container {
		margin: 4px 0;
		max-width: calc(100% - 114px);
	}

	.editable-container-is-authorized.character-primary-name-container {
		max-width: calc(100% - 146px);
	}

	.character-primary-name-container,
	.character-primary-name-container input {
		font-size: 26px;
		word-wrap: break-word;
	}

	.editable-container-is-editing.character-primary-name-container {
		margin-top: 2px;
		margin-bottom: 4px;
	}
}
